<div>
    <nav
        class="navbar navbar-light"
        [ngClass]="{ 'header-dark-mode': darkModeService.isDarkMode }"
    >
        <div>
            <button
                class="off-canvas-start-button"
                [ngClass]="{
                    'header-button-dark-mode': darkModeService.isDarkMode
                }"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasStart"
                aria-controls="offcanvasStart"
            >
                <span
                    class="navbar-toggler-icon navbar-toggler-icon-span"
                    data-test="navbar-toggler-icon"
                ></span>
            </button>
            <span
                routerLink="/"
                class="penda-header-logo cursor-pointer"
                [ngClass]="{
                    'header-text-dark-mode': darkModeService.isDarkMode
                }"
                data-test="penda-home-button"
                >&nbsp;penda</span
            >
        </div>

        <div>
            <i
                class="bi bi-gear-fill p-3 cursor-pointer"
                [ngClass]="{
                    'settings-gear-dark-mode': darkModeService.isDarkMode
                }"
                routerLink="/settings"
                data-test="gear-button-testing"
            ></i>
        </div>
    </nav>
</div>

<div
    id="offcanvasStart"
    class="offcanvas offcanvas-start"
    tabindex="-1"
    aria-labelledby="offcanvasStartLabel"
>
    <div class="offcanvas-header">
        <h5 id="offcanvasStartLabel">penda</h5>
        <button
            id="offcanvasCloseButton"
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            data-test="close-offcanvas-button"
        ></button>
    </div>
    <hr />
    <br />
    <div class="offcanvas-body">
        <div class="list-group list-group-flush">
            <div class="dropdown">
                <!--                <div style="box-shadow: 0 0 1px 1px #E3E3E3AE;">-->
                <!--                    <a role="button" class="dropdown-toggle list-group-item list-group-item-action mb-3"-->
                <!--                       data-bs-toggle="dropdown" aria-expanded="false">Llojet&nbsp;e&nbsp;Shenjimeve&nbsp;<span-->
                <!--                        class="badge bg-primary rounded-pill">{{markingTypesCount}}</span>-->
                <!--                    </a>-->
                <!--                    <ul class="dropdown-menu">-->
                <!--                        <li *ngFor="let markingTypeKey of markingTypeKeys">-->
                <!--                            <a class="{{markingTypes[markingTypeKey]['enabled'] === false ? 'disabled':''}} dropdown-item"-->
                <!--                               routerLink="{{markingTypeKey}}"-->
                <!--                               (click)="closeOffcanvas()">{{markingTypes[markingTypeKey]['description']}}</a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </div>-->
                <div>
                    <a
                        data-test="settings-button"
                        routerLink="/settings"
                        class="list-group-item list-group-item-action mb-3"
                        role="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasStart"
                        aria-controls="offcanvasStart"
                        >Cilësimet</a
                    >
                </div>
                <div>
                    <a
                        href="https://github.com/OpenCovenant"
                        role="button"
                        class="list-group-item list-group-item-action mb-3"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Rreth&nbsp;Nesh</a
                    >
                </div>
                <div>
                    <a
                        href="https://github.com/OpenCovenant/quill"
                        role="button"
                        class="list-group-item list-group-item-action mb-3"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Rreth&nbsp;Penda</a
                    >
                </div>
                <br />
            </div>
            <hr />
            <div class="d-flex dark-mode-div">
                <div>Modalitet i Errët:</div>
                <div class="toggle-switch">
                    <label class="dark-mode-label cursor-pointer">
                        <input
                            class="dark-mode-input"
                            type="checkbox"
                            [checked]="!darkModeService.isDarkMode"
                            (change)="darkModeService.toggleDarkMode()"
                        />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
