.navbar {
    background-color: #e9e9e9;
}
.navbar div {
    margin-left: 2rem;
    font-size: 1.4rem;
}
.btn {
    border: none;
}
#togglerIcon {
    width: 1.4rem;
}
#pendaHeaderLogo {
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.dropdown div {
    box-shadow: 0 0 1px 1px #e3e3e3ae;
}

#offcanvasStartButton:hover {
    background-color: #e3e3e3;
}
