<div>
    <nav
        class="navbar navbar-light"
        [ngClass]="{
            'header-dark-mode': darkModeService.isDarkMode
        }"
    >
        <div class="header-name-gear-icon">
            <button
                id="side-menu-start-button"
                class="side-menu-start-button"
                [ngClass]="{
                    'header-button-dark-mode': darkModeService.isDarkMode
                }"
                type="button"
                title="hap menynë (m)"
                data-bs-toggle="offcanvas"
                data-bs-target="#side-menu-start"
                aria-controls="side-menu-start"
            >
                <span
                    class="navbar-toggler-icon"
                    [ngClass]="{
                        'navbar-toggler-icon-dark-mode':
                            darkModeService.isDarkMode
                    }"
                    data-test="navbar-toggler-icon"
                ></span>
            </button>
            <div class="header-logo-div">
                <span
                    routerLink="/"
                    title="faqja kryesore"
                    class="penda-header-logo"
                    [ngClass]="{
                        'header-text-dark-mode': darkModeService.isDarkMode
                    }"
                    data-test="home-button"
                    >penda</span
                >
                <span
                    class="penda-header-logo-corrector"
                    [ngClass]="{
                        'header-corrector-text-dark-mode':
                            darkModeService.isDarkMode
                    }"
                    data-test="home-label"
                    >korrektor i gjuhës shqipe</span
                >
            </div>
        </div>

        <div class="header-name-gear-icon">
            <i
                routerLink="/settings"
                class="p-3 settings-gear-button"
                title="hap cilësimet"
                [ngClass]="{
                    'bi bi-gear': !isSettingsRoute(),
                    'bi bi-gear-fill': isSettingsRoute(),
                    'settings-gear-dark-mode': darkModeService.isDarkMode
                }"
                data-test="settings-gear-button"
            ></i>

            <!--            <span class="header-separator">|</span>-->

            <!--            <ng-template-->
            <!--                [ngIf]="authenticationService.isAuthenticated() | async"-->
            <!--                [ngIfElse]="authenticateButton"-->
            <!--            >-->
            <!--                <div class="btn-group user-dropdown-menu">-->
            <!--                    <button-->
            <!--                        type="button"-->
            <!--                        data-bs-toggle="dropdown"-->
            <!--                        aria-expanded="false"-->
            <!--                        class="btn btn-secondary dropdown-toggle"-->
            <!--                    >-->
            <!--                        <span>{{ authenticationService.user.first_name }}</span>-->
            <!--                    </button>-->
            <!--                    <ul-->
            <!--                        class="dropdown-menu dropdown-menu-end"-->
            <!--                        [ngClass]="{-->
            <!--                            'dropdown-menu-dark-mode':-->
            <!--                                darkModeService.isDarkMode-->
            <!--                        }"-->
            <!--                    >-->
            <!--                        <li-->
            <!--                            class="dropdown-menu-item-list"-->
            <!--                            [ngClass]="{-->
            <!--                                'dropdown-menu-item-list-dark-mode':-->
            <!--                                    darkModeService.isDarkMode-->
            <!--                            }"-->
            <!--                        >-->
            <!--                            <a-->
            <!--                                class="dropdown-item menu-dropdown-item"-->
            <!--                                [ngClass]="{-->
            <!--                                    'menu-dropdown-item-dark-mode':-->
            <!--                                        darkModeService.isDarkMode-->
            <!--                                }"-->
            <!--                                routerLink="/profile"-->
            <!--                            >-->
            <!--                                <span-->
            <!--                                    class="profile-icon-dropdown bi-person-circle"-->
            <!--                                ></span>-->
            <!--                                <span>Profili</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                        <li>-->
            <!--                            <hr-->
            <!--                                class="dropdown-divider menu-item-divider"-->
            <!--                                [ngClass]="{-->
            <!--                                    'menu-item-divider-dark-mode':-->
            <!--                                        darkModeService.isDarkMode-->
            <!--                                }"-->
            <!--                            />-->
            <!--                        </li>-->
            <!--                        <li-->
            <!--                            class="dropdown-menu-item-list"-->
            <!--                            [ngClass]="{-->
            <!--                                'dropdown-menu-item-list-dark-mode':-->
            <!--                                    darkModeService.isDarkMode-->
            <!--                            }"-->
            <!--                        >-->
            <!--                            <a-->
            <!--                                class="dropdown-item menu-dropdown-item"-->
            <!--                                [ngClass]="{-->
            <!--                                    'menu-dropdown-item-dark-mode':-->
            <!--                                        darkModeService.isDarkMode-->
            <!--                                }"-->
            <!--                                (click)="logout()"-->
            <!--                            >-->
            <!--                                <span-->
            <!--                                    ><i-->
            <!--                                        class="bi bi-box-arrow-right"-->
            <!--                                        [ngClass]="{-->
            <!--                                            'logout-icon-dark-mode':-->
            <!--                                                darkModeService.isDarkMode-->
            <!--                                        }"-->
            <!--                                    ></i-->
            <!--                                ></span>-->
            <!--                                <span>Dil</span>-->
            <!--                            </a>-->
            <!--                        </li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </ng-template>-->
            <!--            <ng-template #authenticateButton>-->
            <!--                <button-->
            <!--                    class="btn btn-primary login-header-button"-->
            <!--                    routerLink="/authentication"-->
            <!--                >-->
            <!--                    Identifikohu-->
            <!--                </button>-->
            <!--            </ng-template>-->

            <!-- <i class="bi bi-lock-fill" style='font-size: 20px'></i> ??? person-fill-lock -->
        </div>
    </nav>
</div>

<div
    id="side-menu-start"
    class="offcanvas offcanvas-start side-menu-start"
    [ngClass]="{
        'side-menu-start-dark-mode': darkModeService.isDarkMode
    }"
    tabindex="-1"
    aria-labelledby="side-menu-start-label"
>
    <div
        class="offcanvas-header"
        [ngClass]="{
            'side-menu-header-dark-mode': darkModeService.isDarkMode
        }"
    >
        <h5 id="side-menu-start-label">penda</h5>
        <button
            id="side-menu-close-button"
            type="button"
            class="btn-close text-reset"
            [ngClass]="{
                'side-menu-close-button-dark-mode': darkModeService.isDarkMode
            }"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            data-test="close-side-menu-button"
        ></button>
    </div>
    <hr class="side-menu-hr" />
    <div
        class="offcanvas-body side-menu-body"
        [ngClass]="{
            'side-menu-body-dark-mode': darkModeService.isDarkMode
        }"
    >
        <div class="list-group list-group-flush">
            <div class="item-action-list">
                <div>
                    <a
                        routerLink="/settings"
                        style="display: flex; align-items: center"
                        class="nav-text list-group-item-action mb-3"
                        [ngClass]="{
                            'side-menu-nav-text-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        role="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#side-menu-start"
                        aria-controls="side-menu-start"
                        data-test="settings-side-menu-item"
                        ><i
                            class="bi bi-gear"
                            style="font-size: 1.2rem"
                            [ngClass]="{
                                'side-menu-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Cilësimet</a
                    >
                </div>
                <div>
                    <a
                        routerLink="/shortcuts"
                        style="display: flex; align-items: center"
                        class="nav-text list-group-item-action mb-3"
                        [ngClass]="{
                            'side-menu-nav-text-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        role="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#side-menu-start"
                        aria-controls="side-menu-start"
                        ><i
                            class="bi bi-keyboard"
                            style="font-size: 1.2rem"
                            [ngClass]="{
                                'side-menu-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Shkurtoret</a
                    >
                </div>
                <div>
                    <a
                        routerLink="/dashboard"
                        style="display: flex; align-items: center"
                        role="button"
                        class="nav-text list-group-item-action mb-3"
                        [ngClass]="{
                            'side-menu-nav-text-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#side-menu-start"
                        aria-controls="side-menu-start"
                        ><i
                            class="bi bi-stars"
                            style="font-size: 1.2rem"
                            [ngClass]="{
                                'side-menu-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Penda e Artë</a
                    >
                </div>
                <div>
                    <a
                        routerLink="/about"
                        style="display: flex; align-items: center"
                        role="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#side-menu-start"
                        aria-controls="side-menu-start"
                        class="nav-text list-group-item-action mb-3"
                        [ngClass]="{
                            'side-menu-nav-text-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        ><i
                            class="bi bi-info-circle"
                            style="font-size: 1.2rem"
                            [ngClass]="{
                                'side-menu-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Rreth Pendës</a
                    >
                </div>
                <!--                <div>-->
                <!--                    <a-->
                <!--                        routerLink="/privacy-policy"-->
                <!--                        style='display: flex; align-items: center;'-->
                <!--                        role="button"-->
                <!--                        data-bs-toggle="offcanvas"-->
                <!--                        data-bs-target="#side-menu-start"-->
                <!--                        aria-controls="side-menu-start"-->
                <!--                        class="nav-text list-group-item-action mb-3"-->
                <!--                        [ngClass]="{-->
                <!--                            'side-menu-nav-text-dark-mode':-->
                <!--                                darkModeService.isDarkMode-->
                <!--                        }"-->
                <!--                        ><i-->
                <!--                            class="bi bi-info-circle"-->
                <!--                            style="font-size: 1.2rem"-->
                <!--                            [ngClass]="{-->
                <!--                                'side-menu-bi-info-circle-dark-mode':-->
                <!--                                    darkModeService.isDarkMode-->
                <!--                            }"-->
                <!--                        >-->
                <!--                        </i-->
                <!--                        >Politikat e Privatësisë</a-->
                <!--                    >-->
                <!--                </div>-->
                <div>
                    <a
                        routerLink="/terms-of-use"
                        style="display: flex; align-items: center"
                        role="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#side-menu-start"
                        aria-controls="side-menu-start"
                        class="nav-text list-group-item-action mb-3"
                        [ngClass]="{
                            'side-menu-nav-text-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        ><i
                            class="bi bi-shield-check"
                            style="font-size: 1.2rem"
                            [ngClass]="{
                                'side-menu-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Kushtet e Përdorimit</a
                    >
                </div>
                <div>
                    <a
                        href="https://github.com/OpenCovenant"
                        style="display: flex; align-items: center"
                        role="button"
                        class="nav-text list-group-item-action mb-3"
                        [ngClass]="{
                            'side-menu-nav-text-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><i
                            class="bi bi-house-door"
                            style="font-size: 1.2rem"
                            [ngClass]="{
                                'side-menu-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Rreth Nesh</a
                    >
                </div>
            </div>
            <hr class="side-menu-hr" />
            <div class="d-flex dark-mode-div">
                <div>Ndrysho Pamjen</div>
            </div>
            @if (darkModeService.isSystemMode) {
                <span class="light-mode-informative-text"
                    >Përdor Pamjen e Sistemit</span
                >
            } @else if (darkModeService.isDarkMode) {
                <span class="dark-mode-informative-text"
                    >Përdor Pamjen e Errët</span
                >
            } @else if (!darkModeService.isDarkMode) {
                <span class="light-mode-informative-text"
                    >Përdor Pamjen e Çelur</span
                >
            }
        </div>
        <div class="header-page-theme-buttons">
            <app-dark-mode-buttons />
        </div>
    </div>
</div>
