<div>
    <nav
        class="navbar navbar-light"
        [ngClass]="{ 'header-dark-mode': darkModeService.isDarkMode }"
    >
        <div>
            <button
                class="off-canvas-start-button"
                [ngClass]="{
                    'header-button-dark-mode': darkModeService.isDarkMode
                }"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasStart"
                aria-controls="offcanvasStart"
            >
                <span
                    class="navbar-toggler-icon"
                    [ngClass]="{
                        'navbar-toggler-icon-dark-mode':
                            darkModeService.isDarkMode
                    }"
                    data-test="navbar-toggler-icon"
                ></span>
            </button>
            <span
                routerLink="/"
                class="penda-header-logo cursor-pointer"
                [ngClass]="{
                    'header-text-dark-mode': darkModeService.isDarkMode
                }"
                data-test="penda-home-button"
                >&nbsp;penda</span
            >
        </div>

        <div>
            <i
                class="p-3 cursor-pointer"
                [ngClass]="{
                    'bi bi-gear': !isSettingsRoute(),
                    'bi bi-gear-fill' : isSettingsRoute(),
                    'settings-gear-dark-mode': darkModeService.isDarkMode
                  }"
                routerLink="/settings"
                data-test="gear-button-testing"
            ></i>
        </div>
    </nav>
</div>

<div
    id="offcanvasStart"
    class="offcanvas offcanvas-start"
    [ngClass]="{
        'offcanvas-start-dark-mode': darkModeService.isDarkMode
    }"
    tabindex="-1"
    aria-labelledby="offcanvasStartLabel"
>
    <div
        class="offcanvas-header"
        [ngClass]="{
            'offcanvas-header-dark-mode': darkModeService.isDarkMode
        }"
    >
        <h5 id="offcanvasStartLabel">penda</h5>
        <button
            id="offcanvasCloseButton"
            type="button"
            class="btn-close text-reset"
            [ngClass]="{
                'offcanvas-close-button-dark-mode': darkModeService.isDarkMode
            }"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            data-test="close-offcanvas-button"
        ></button>
    </div>
    <hr />
    <br />
    <div
        class="offcanvas-body"
        [ngClass]="{
            'offcanvas-body-dark-mode': darkModeService.isDarkMode
        }"
    >
        <div class="list-group list-group-flush">
            <div>
                <!--                <div style="box-shadow: 0 0 1px 1px #E3E3E3AE;">-->
                <!--                    <a role="button" class="dropdown-toggle list-group-item list-group-item-action mb-3"-->
                <!--                       data-bs-toggle="dropdown" aria-expanded="false">Llojet&nbsp;e&nbsp;Shenjimeve&nbsp;<span-->
                <!--                        class="badge bg-primary rounded-pill">{{markingTypesCount}}</span>-->
                <!--                    </a>-->
                <!--                    <ul class="dropdown-menu">-->
                <!--                        <li *ngFor="let markingTypeKey of markingTypeKeys">-->
                <!--                            <a class="{{markingTypes[markingTypeKey]['enabled'] === false ? 'disabled':''}} dropdown-item"-->
                <!--                               routerLink="{{markingTypeKey}}"-->
                <!--                               (click)="closeOffcanvas()">{{markingTypes[markingTypeKey]['description']}}</a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </div>-->
                <div>
                    <a
                        data-test="settings-button"
                        routerLink="/settings"
                        class="navText list-group-item-action mb-3"
                        [ngClass]="{
                            'offcanvas-navText-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        role="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasStart"
                        aria-controls="offcanvasStart"
                        ><i
                            class="bi bi-gear"
                            [ngClass]="{
                                'offcanvas-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Cilësimet</a
                    >
                </div>
                <div>
                    <a
                        routerLink="/about"
                        role="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasStart"
                        aria-controls="offcanvasStart"
                        class="navText list-group-item-action mb-3"
                        [ngClass]="{
                            'offcanvas-navText-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        ><i
                            class="bi bi-info-circle"
                            [ngClass]="{
                                'offcanvas-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Rreth&nbsp;Penda</a
                    >
                </div>
                <div>
                    <a
                        href="https://github.com/OpenCovenant"
                        role="button"
                        class="navText list-group-item-action mb-3"
                        [ngClass]="{
                            'offcanvas-navText-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        target="_blank"
                        rel="noopener noreferrer"
                        ><i
                            class="bi bi-house-door"
                            [ngClass]="{
                                'offcanvas-bi-info-circle-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                        </i
                        >Rreth&nbsp;Nesh</a
                    >
                </div>
                <br />
            </div>
            <hr />
            <div class="d-flex dark-mode-div">
                <div>Pamje e Errët</div>
                <div class="toggle-switch">
                    <label class="dark-mode-label cursor-pointer">
                        <input
                            data-test="dark-mode-button-toggle-switch"
                            class="dark-mode-input"
                            type="checkbox"
                            [id]="darkModeService"
                            [(ngModel)]="darkModeService.isDarkMode"
                            (change)="onDarkModeChange()"
                        />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
