.header-name-gear-icon {
    margin-left: 3rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.penda-header-logo {
    color: var(--dark-mode-theme);
    font-size: 1.8125rem;
    padding-left: 7px;
}

.header-dark-mode {
    background-color: var(--dark-mode-theme);
}

.header-button-dark-mode {
    background-color: var(--dark-mode-theme);
}

.header-button-dark-mode:hover {
    background-color: var(--dark-mode-hover-color) !important;
}

.header-text-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.navbar-toggler-icon {
    width: 1.4rem;
}

.navbar-toggler-icon-dark-mode {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
}

/* bolden "penda" header text in navigation bar on hover */
.penda-header-logo {
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

/*TODO: do something nice with the hover*/
/*.penda-header-logo:hover {}*/

.side-menu-start-button {
    border: 0;
    border-radius: 0.5rem;
    height: 41px;
    display: flex;
    align-items: center;
}

.side-menu-start-button:hover {
    background-color: var(--light-mode-hover-theme);
}

.side-menu-header-dark-mode {
    background-color: var(--dark-mode-theme);
    color: var(--light);
}

.side-menu-body-dark-mode {
    background-color: var(--dark-mode-theme);
    color: var(--light);
}

.side-menu-nav-text-dark-mode {
    color: var(--light) !important;
}

.side-menu-nav-text-dark-mode:hover {
    background-color: var(--dark-mode-hover-color) !important;
}

.side-menu-hr {
    background-color: var(--dark-mode-gray-color-checked-theme);
    height: 1px;
    margin-bottom: 0;
    margin-top: 0;
}

.item-action-list {
    margin: 1.5rem 0;
}

.nav-text {
    display: flex;
    height: 50px;
    padding: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-text:hover {
    background-color: var(--light-mode-hover-theme);
    color: black;
}

.bi {
    padding-right: 1rem;
    color: black;
}

.side-menu-bi-info-circle-dark-mode {
    color: var(--light);
}

.side-menu-start {
    border-radius: 3px 3px;
    width: 350px;
}

.side-menu-start-dark-mode {
    background-color: var(--dark-mode-theme);
}

.side-menu-body {
    padding: 0;
}

.dark-mode-label {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 1.6rem;
    border-radius: 50px;
    border: 1px solid var(--dark-mode-smooth-theme);
}

.settings-gear-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.settings-gear-dark-mode:hover {
    background-color: var(--dark-mode-hover-color) !important;
}

.dark-mode-div {
    justify-content: center;
    padding: 0.5rem 1rem 0;
    font-weight: 500;
    align-items: center;
}

.dark-mode-theme {
    padding: 0.3rem 1rem 1rem;
    font-size: 0.8rem;
    color: var(--dark-mode-theme);
}

.light-mode-theme {
    padding: 0.3rem 1rem 1rem;
    font-size: 0.8rem;
    color: var(--light);
}

.side-menu-close-button-dark-mode {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
}

.dark-mode-informative-text {
    font-size: 0.8rem;
    color: var(--dark-mode-smooth-theme);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 0;
}

.theme-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-mode-anti-theme);
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.light-mode-informative-text {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem 0;
    font-size: 0.8rem;
    color: var(--dark-mode-smooth-theme);
}

.settings-gear-button {
    cursor: pointer;
    margin-right: 3rem; /*TODO: remove for auth.*/
    padding: 0.5rem !important;
    border-radius: 0.5rem;
}

.settings-gear-button:hover {
    background-color: var(--light-mode-hover-theme);
}

.profile-icon-dropdown {
    margin-right: 16px;
}

.menu-dropdown-item {
    border-radius: 10px;
    cursor: pointer;
}

.menu-dropdown-item:hover {
    border-radius: 10px;
}

.menu-dropdown-item:active {
    background-color: var(--active-dropdown-menu);
    color: black;
}

.dropdown-menu-item-list {
    padding: 0 5px 0 5px;
}

.menu-item-divider {
    margin-left: auto;
    margin-right: auto;
    width: 89%;
}

.dropdown-menu-dark-mode {
    background-color: var(--dark-mode-theme);
    box-shadow: 0 0 1px var(--dark-mode-smooth-theme);
}

.menu-dropdown-item-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.logout-icon-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.dropdown-divider-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.menu-dropdown-item-dark-mode:hover {
    background-color: var(--dark-mode-hover-color);
}

.menu-dropdown-item-dark-mode:active {
    background-color: var(--active-dropdown-menu-dark-mode);
    color: white;
}

.login-header-button {
    margin-right: 2.9rem;
    font-weight: 500;
}

.header-separator {
    padding: 1rem;
    font-size: 20px;
    color: var(--active-dropdown-menu);
}

.user-dropdown-menu {
    margin-right: 2.9rem;
}

.menu-item-divider-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.header-logo-div {
    display: flex;
    flex-direction: column;
}

.penda-header-logo-corrector {
    color: var(--active-dropdown-menu-dark-mode);
    font-size: 15px;
    padding-left: 8px;
}

.header-corrector-text-dark-mode {
    color: var(--header-corrector-dark-mode);
}

