<div class="page-footer text-center text-white">
    <footer [ngClass]="{ 'footer-dark-mode': darkModeService.isDarkMode }">
        <div [ngClass]="{ 'footer-dark-mode': darkModeService.isDarkMode }">
            Për gabime të pendës dërgoni një email duke shpjeguar gabimin tek
            penda.information@gmail.com
        </div>
        <div class="container">
            <section>
                <a
                    class="section-anchor"
                    href="https://github.com/OpenCovenant/quill"
                    role="button"
                    class="btn btn-link btn-floating text-dark m-1"
                    [ngClass]="{
                        'footer-dark-mode':
                            darkModeService.isDarkMode
                    }"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><span>GitHub&nbsp;</span><i class="bi bi-github"></i
                ></a>
            </section>
        </div>
    </footer>
</div>
