footer div:first-child {
    color: var(--dark-mode-theme);
    padding-top: 10px;
    font-size: 15px;
}

.footer-dark-mode {
    color: var(--dark-mode-anti-theme) !important;
    background-color: var(--dark-mode-theme);
}

.section-anchor {
    text-decoration: none;
    font-size: 15px;
}
