<div
    class="page-footer text-center text-white"
    style="background-color: #e9e9e9"
>
    <footer>
        <div style="color: #444444; padding-top: 10px; font-size: 15px">
            Për gabime të pendës dërgoni një email duke shpjeguar gabimin tek
            opencovenant@outlook.com
        </div>
        <div class="container">
            <section>
                <a
                    href="https://github.com/OpenCovenant/ink"
                    role="button"
                    class="btn btn-link btn-floating text-dark m-1"
                    target="_blank"
                    rel="noopener noreferrer"
                    style="text-decoration: none; font-size: 15px"
                    ><span>GitHub&nbsp;</span><i class="bi bi-github"></i
                ></a>
            </section>
        </div>
    </footer>
</div>
