<div
    class="theme-selector"
    [ngClass]="{
        'theme-selector-dark-mode': darkModeService.isDarkMode
    }"
>
    <span
        data-test="dark-mode-button"
        class="option-set-dark-mode"
        [class.active]="
            darkModeService.isDarkMode && !darkModeService.isSystemMode
        "
        (click)="darkModeService.setDarkMode(true)"
        [ngClass]="{
            'option-set-dark-mode-dark-mode': darkModeService.isDarkMode
        }"
    >
        <span class="theme-span-icons">
            <i class="bi bi-moon-fill"></i>
        </span>
        <p>Errët</p>
    </span>

    <span
        class="option-set-system-mode"
        [class.active]="darkModeService.isSystemMode"
        (click)="darkModeService.setSystemMode()"
        [ngClass]="{
            'option-set-system-mode-dark-mode':
                darkModeService.isSystemMode && darkModeService.isDarkMode,
            'option-system-dark-mode': darkModeService.isDarkMode,
            'option-set-system-mode-light-mode':
                darkModeService.isSystemMode && !darkModeService.isDarkMode
        }"
    >
        <span class="theme-span-icons">
            <i class="bi bi-circle-half"></i>
        </span>
        <p>Sistemi</p>
    </span>

    <span
        data-test="light-mode-button"
        class="option-set-light-mode-span"
        [ngClass]="{
            'option-set-light-dark-mode': darkModeService.isDarkMode
        }"
        [class.active]="
            !darkModeService.isDarkMode && !darkModeService.isSystemMode
        "
        (click)="darkModeService.setDarkMode(false)"
    >
        <span class="theme-span-icons">
            <i class="bi bi-brightness-high-fill"></i>
        </span>
        <p>Çelur</p>
    </span>
</div>
