.thank-you-modal-button {
    display: none;
}

.thank-you-modal-footer {
    display: flex;
    justify-content: space-around;
}

.continue-button-thank-you-modal {
    font-weight: 500;
}

.modal-content-subscription-success-dark-mode {
    background-color: var(--dark-mode-theme);
    color: var(--dark-mode-anti-theme);
}
