<div class="component-div" tabindex="0">
    <app-header></app-header>
    <div
        class="component-router-div"
        [ngClass]="{ 'component-dark-mode': darkModeService.isDarkMode }"
    >
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>

<button
    id="authentication-modal-button"
    type="button"
    class="btn btn-primary identify-modal-button"
    data-bs-toggle="modal"
    data-bs-target="#reauthentication-modal"
>
    Dialog per Identifikim
</button>
<div
    class="modal fade"
    id="reauthentication-modal"
    tabindex="-1"
    aria-labelledby="reauthentication-modal-label"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div
            class="modal-content"
            [ngClass]="{
                're-authenticate-modal-dark-mode': darkModeService.isDarkMode
            }"
        >
            <div class="modal-header">
                <h5 class="modal-title" id="reauthentication-modal-label">
                    Identifikohu Përsëri
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    [ngClass]="{
                        'btn-close-white': darkModeService.isDarkMode
                    }"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Sesioni i mëparshëm te Penda ka mbaruar. Për arsye sigurie duhet
                të identifikoheni përsëri për të vazhduar me llogarine tuaj.
            </div>
            <div class="modal-footer identify-modal-footer">
                <button
                    type="button"
                    data-bs-dismiss="modal"
                    class="continue-without-account-button"
                    [ngClass]="{
                        'continue-without-account-button-dark-mode':
                            darkModeService.isDarkMode
                    }"
                >
                    Vazhdo Pa Llogari
                </button>
                <button
                    type="button"
                    class="btn btn-primary identify-modal-button-login"
                    data-bs-toggle="modal"
                    data-bs-target="#reauthentication-modal"
                    aria-controls="reauthentication-modal"
                    routerLink="/authentication"
                >
                    Identifikohu
                </button>
            </div>
        </div>
    </div>
</div>
