<div class="component-div" tabindex="0">
    <app-header></app-header>
    <div
        class="component-router-div"
        [ngClass]="{ 'component-dark-mode': darkModeService.isDarkMode }"
    >
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>

<button id='authenticationModalButton' style='display: none;' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reauthenticationModal">
    Dialog per Identifikim
</button>

<!-- Modal -->
<div class="modal fade" id="reauthenticationModal" tabindex="-1" aria-labelledby="reauthenticationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reauthenticationModalLabel">Identifikohu Përsëri</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sesioni i mëparshëm te Penda ka mbaruar. Për arsye sigurie duhet të identifikoheni përsëri për të vazhduar.
            </div>
            <div class="modal-footer" style='display: flex; justify-content: space-around'>
                <button type="button" style='background-color: transparent; color: #0d6efd; font-weight: 500; border: none' data-bs-dismiss="modal">Vazhdo Pa Llogari</button>
                <button type="button" class="btn btn-primary" data-bs-toggle='modal' data-bs-target="#reauthenticationModal" aria-controls="reauthenticationModal" routerLink="/authentication">Identifikohu</button>
            </div>
        </div>
    </div>
</div>
