.welcome-modal-button {
    display: none;
}

.welcome-modal-footer-div {
    display: flex;
    justify-content: space-around;
}

.welcome-modal-continue-button {
    font-weight: 500;
}

.modal-content-welcome-dark-mode {
    background-color: var(--dark-mode-theme);
    color: var(--dark-mode-anti-theme);
}
