.dashboard {
    margin-left: 20%;
    width: 60%;
}

.dashboard-dark-mode {
    color: var(--light);
}

.contact-us-button:hover {
    background-color: purple !important;
    color: var(--dark-mode-anti-theme);
}

.dashboard-header-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.mybt {
    background-color: #c5c5c5;
    border-color: #c5c5c5;
    cursor: not-allowed !important;
}

.mybt:hover {
    cursor: not-allowed !important;
    background-color: #c5c5c5;
}

.mybtsub:hover {
    cursor: not-allowed !important;
}

.dashboard-card {
    box-shadow: 0 0 10px #d8d8d899;
    border: 0px solid rgba(0, 0, 0, 0.125);
}

.dashboard-card-header {
    background-color: var(--dark-mode-anti-theme);
}
