<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1
                class="display-4 fw-normal"
                [ngClass]="{
                    'dashboard-header-dark-mode': darkModeService.isDarkMode
                }"
            >
                Përmirëso Shenjimet e Pendës
            </h1>
            <p class="fs-5 text-muted">
                Zgjidh mes dy abonimeve që ofrojmë në bazë të kërkesave tuaja.
            </p>
        </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-2 mb-3">
            <div class="col">
                <div class="card mb-4 rounded-3 dashboard-card">
                    <div
                        class="card-header py-3 dashboard-card-header"
                        [ngClass]="{
                            'free-pricing-card-heading-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        <h2 class="my-0 fw-normal text-center">Penda</h2>
                    </div>
                    <div
                        class="card-body"
                        [ngClass]="{
                            'pricing-card-body-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        <h1
                            class="card-title pricing-card-title text-center pb-2"
                        >
                            0 €<small class="text-muted fw-light">/muaj</small>
                        </h1>
                        <ul
                            class="list-unstyled mt-3 mb-4 card-inside-content-list"
                        >
                            <li class="inside-content-list">
                                <i
                                    class="bi bi-check-lg check-icon-inside-list"
                                ></i
                                >analizo deri më 5 shkrime në ditë
                            </li>
                            <li class="inside-premium-content-list">
                                <i
                                    class="bi bi-check-lg check-icon-inside-list"
                                ></i
                                >shenjime për gabime shkrimi, huazimesh,
                                stilistike
                            </li>
                        </ul>
                        <ng-template
                            [ngIf]="
                                !(authenticationService.isSubscribed() | async)
                            "
                            [ngIfElse]="emptySection"
                        >
                            <div class="text-center">
                                <button
                                    type="button"
                                    routerLink="/authentication"
                                    class="current-tier-button w-50 btn btn-lg btn-secondary"
                                    [ngClass]="{
                                        'pricing-card-button-dark-mode':
                                            darkModeService.isDarkMode
                                    }"
                                >
                                    Abonimi Aktual
                                </button>
                                <div class="package-card-footer">
                                    <span class="package-card-footer-span"
                                        ><a
                                            routerLink="/authentication"
                                            [ngClass]="{
                                                'identify-anchor-dark-mode':
                                                    darkModeService.isDarkMode
                                            }"
                                            >identifikohu falas</a
                                        >, nuk ju kërkojmë as kartë
                                        bankare</span
                                    >
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #emptySection>
                            <div class="empty-section-div"></div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col">
                <div
                    class="card mb-4 rounded-3 dashboard-card dashboard-premium-card"
                >
                    <div
                        class="card-header py-3 text-black dashboard-card-premium-header"
                    >
                        <h2 class="my-0 fw-normal text-center">Penda e Artë</h2>
                    </div>
                    <div
                        class="card-body"
                        [ngClass]="{
                            'pricing-card-body-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        <h1
                            class="card-title pricing-card-title text-center pb-2"
                        >
                            9.90 €<small class="text-muted fw-light"
                                >/muaj</small
                            >
                        </h1>
                        <ul
                            class="list-unstyled mt-3 mb-4 ul-premium-content-inside"
                        >
                            <li class="li-premium-content-inside">
                                <i
                                    class="bi bi-check-lg dashboard-premium-card-checkmark"
                                ></i
                                >analizo sa shkrime në ditë ju nevojiten
                            </li>
                            <li class="li-premium-content-inside">
                                <i
                                    class="bi bi-check-lg dashboard-premium-card-checkmark"
                                ></i
                                >shenjime për gabime shkrimi, huazimesh,
                                stilistike dhe gramatikore nëpërmjet
                                Inteligjencës Artificiale
                            </li>
                            <li class="dashboard-premium-card-choose-marking">
                                <i
                                    class="bi bi-check-lg dashboard-premium-card-checkmark"
                                ></i
                                >zgjidh çfarë lloj shenjimesh doni të shihni
                            </li>
                        </ul>
                        <ng-template
                            [ngIf]="
                                !(authenticationService.isSubscribed() | async)
                            "
                            [ngIfElse]="otherEmptySection"
                        >
                            <div class="text-center">
<!--                                routerLink="/checkout"-->
                                <button
                                    type="button"
                                    class="w-50 btn btn-lg contact-us-button"
                                >
                                    Abonohu
                                </button>
                                <div class="dashboard-premium-card-span-div">
                                    <span class="dashboard-premium-card-span"
                                        ><b
                                            >momentalisht Penda e Artë është
                                            falas, dhe do të jetë e tillë për
                                            disa muaj :)</b
                                        ></span
                                    >
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #otherEmptySection>
                            <div class="text-center">
                                <button
                                    type="button"
                                    routerLink="/authentication"
                                    class="current-tier-button w-50 btn btn-lg btn-secondary"
                                >
                                    Abonimi Aktual
                                </button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </main>

<!--    <p class="fs-6 text-muted">-->
<!--        Penda momentalisht ofron falas gjithë funksionalitetet e saj (përfshirë-->
<!--        shenjime gabimesh gramatikore) për disa muaj, çdo abonim i bërë brenda-->
<!--        kësaj kohe do të shkojë për përmirësimin e cilësisë të Pendës. Pas kësaj-->
<!--        periudhe këto funksionalitete do të ofrohen vetëm nëpërmjet një abonimi.-->
<!--    </p>-->
</div>
