.dashboard {
    margin-left: 20%;
    width: 60%;
}

.dashboard-dark-mode {
    color: var(--light);
}

.contact-us-button:hover {
    background-color: purple !important;
    color: var(--dark-mode-anti-theme);
}

.dashboard-header-dark-mode {
    color: var(--dark-mode-anti-theme);
}
