/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

/*TODO: restructure/cleanup these a bit*/
:root {
    --dark-mode-theme: #2c2c2c;
    --dark-mode-smooth-theme: #808080;
    --dark-mode-anti-theme: #ffffff;
    --media-cut-off-width: 800px; /*TODO: can this be utilized in the @medias?*/
    --typo-color: #ffc8c8;
    --loanword-color: #ffd182;
    --stylistic-color: #a1b6dc;
    --grammatical-color: #ebbcff;
    --bar-color: #e9e9e9;
    --light-mode-hover-theme: #e3e3e3;
    --checked-blue-color-theme: #2196f3;
    --dark-mode-gray-color-checked-theme: #797979;
    --light-mode-color: #f8f9fa;
    --active-dropdown-menu: #d6d6d6;
    --active-dropdown-menu-dark-mode: #6e6e6e;
    --skeleton-color: #d9d9d9;
    --modal-go-back-button-color: #0d6efd;
    --light-black: #00000020;
    /*TODO: these two should be in header.component.css but it doesn't seem to work?*/
    --light: #eaeaea;
    --dark: #28292c;
    --dark-mode-hover-color: #545454;
    --checked-green-color-theme: #10a37f;
    --slider-background: #ccc;
    --dismissed-marking: #ff7676;
    --identify-anchor-dark-mode: #0074e5;
    --card-border-color: rgba(0, 0, 0, 0.125);
    --card-box-shadow-color: rgba(216, 216, 216, 0.6);
    --contact-us: #f6d8ff;
    --header-corrector-dark-mode: #b8babc;
    --dashboard-card: #d8d8d899;
    --pricing-card: #6c757d;
}
