<div class="high-level-container">
    <div class="input-container mt-5">
        <div
            class="card border-secondary"
            [ngClass]="{
                'input-container-card-dark-mode': darkModeService.isDarkMode
            }"
        >
            <div
                class="card-header first-header"
                [ngClass]="{
                    'first-header-dark-mode': darkModeService.isDarkMode
                }"
            >
                <button
                    id="{{ writeTextToggleButtonID }}"
                    (click)="toggleWriteTextButton()"
                    type="button"
                    aria-pressed="true"
                    class="btn btn-sm btn-secondary active"
                >
                    SHKRIM
                </button>
                <div class="pipe-separator">|</div>
                <button
                    id="{{ uploadDocumentToggleButtonID }}"
                    (click)="toggleUploadDocumentButton()"
                    type="button"
                    class="btn btn-sm btnUnselected"
                >
                    DOKUMENT
                </button>
            </div>
            <div class="card-body" *ngIf="displayWriteTextOrUploadDocumentFlag">
                <div class="d-flex">
                    <div
                        id="editor"
                        (paste)="onTextPaste($event)"
                        [ngClass]="{
                            'editor-dark-mode': darkModeService.isDarkMode
                        }"
                        contenteditable="true"
                        [innerHTML]="innerHTMLOfEditor"
                        spellcheck="false"
                        autocapitalize="off"
                        role="textbox"
                        aria-multiline="true"
                        data-test="editor"
                    ></div>
                    <div
                        id="editor-placeholder"
                        *ngIf="
                            !editorHasText() ||
                            editorElement.innerHTML === EMPTY_STRING
                        "
                        [ngClass]="{
                            'editor-placeholder-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        data-test="editor-placeholder"
                    >
                        {{ EDITOR_PLACEHOLDER_TEXT }}
                    </div>
                    <div *ngIf="editorHasText()">
                        <button
                            type="button"
                            class="btn-close text-reset cursor-pointer"
                            [ngClass]="{
                                'clear-element-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                            (click)="clearEditor()"
                            title="fshi shkrimin"
                            aria-label="fshi shkrimin"
                            data-test="clear-editor-icon"
                        ></button>
                    </div>
                </div>
                <hr
                    [ngClass]="{
                        'editor-footer-line-dark-mode':
                            darkModeService.isDarkMode
                    }"
                />
                <div class="flex1">
                    <span
                        class="characters-words-markings"
                        [ngClass]="{
                            'characters-words-markings-dark-mode':
                                darkModeService.isDarkMode
                        }"
                        data-test="characters-words-markings"
                        >{{ characterCount }}&nbsp;{{
                            characterCount === 1 ? "karakter" : "karaktere"
                        }}&comma;&nbsp;{{ wordCount }}&nbsp;fjalë&comma;&nbsp;{{
                            processedText === undefined
                                ? 0
                                : processedText!.textMarkings.length
                        }}&nbsp;{{
                            processedText !== undefined &&
                            processedText!.textMarkings.length === 1
                                ? "shenjim"
                                : "shenjime"
                        }}</span
                    >
                    <span
                        ><button
                            id="copy-to-clipboard-button"
                            (click)="copyToClipboard()"
                            class="bi bi-clipboard editor-footer-button"
                            [ngClass]="{
                                'clipboard-button-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                            title="kopjo shkrimin"
                            data-test="copy-to-clipboard-button"
                        ></button
                        >&nbsp;&nbsp;&nbsp;&nbsp;<button
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#writtenTextsHistoryModal"
                            title="trego historikun e shkrimeve"
                            class="bi bi-clock-history editor-footer-button"
                            [ngClass]="{
                                'written-text-history-button-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                            data-test="written-texts-history-button"
                        ></button
                    ></span>
                </div>
            </div>
            <div
                class="card-body"
                *ngIf="!displayWriteTextOrUploadDocumentFlag"
            >
                <div class="text-center">
                    <br />
                    <h5
                        class="card-title"
                        [ngClass]="{
                            'supported-documents-text-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        Mbështesim dokumenta <b>Word</b>, <b>PDF</b>,
                        <b>Libre</b>.
                    </h5>
                    <br />
                    <label
                        for="documentUploadingHiddenInput"
                        class="btn btn-primary"
                        data-test="upload-file-label"
                        >SHTYP&nbsp;KËTU&nbsp;<i class="bi bi-file-text"></i
                    ></label>
                    <input
                        id="documentUploadingHiddenInput"
                        type="file"
                        (change)="uploadDocument($event)"
                        placeholder="SHTYP KËTU"
                        accept=".pdf,.doc,.docx,.odt"
                    />
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="output-container mt-5">
        <div
            *ngIf="
                (processedText === undefined ||
                    processedText!.textMarkings.length === 0) &&
                !(loading$ | async)
            "
        >
            <!-- TODO put into a method -->
            <div class="card border-secondary">
                <div
                    class="card-header second-header"
                    [ngClass]="{
                        'second-header-dark-mode': darkModeService.isDarkMode
                    }"
                >
                    <div>
                        <span class="typo template-marking-span"
                            >gabime shkrimi</span
                        >
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li
                        class="list-group-item"
                        [ngClass]="{
                            'list-group-item-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        <b>shkrim pa gabime</b> -
                        <span
                            >shenjime për fjalë të shkruara gabim, gabime
                            fonetikore, shenja pikësimi</span
                        >
                    </li>
                </ul>
            </div>
            <div class="card border-secondary mt-4">
                <div
                    class="card-header second-header"
                    [ngClass]="{
                        'second-header-dark-mode': darkModeService.isDarkMode
                    }"
                >
                    <div>
                        <span class="loanword template-marking-span"
                            >sugjerime huazimesh</span
                        >
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li
                        class="list-group-item"
                        [ngClass]="{
                            'list-group-item-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        <b>pa huazime për tani</b> -
                        <span
                            >shenjime për huazime me origjinë italiane, angleze,
                            sllave, gjermane, otomane, greke</span
                        >
                    </li>
                </ul>
            </div>
            <div class="card border-secondary mt-4">
                <div
                    class="card-header second-header"
                    [ngClass]="{
                        'second-header-dark-mode': darkModeService.isDarkMode
                    }"
                >
                    <div>
                        <span class="stylistic template-marking-span"
                            >shenjime stilistike</span
                        >
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li
                        class="list-group-item"
                        [ngClass]="{
                            'list-group-item-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        <b>stilistikë e duhur</b> -
                        <span>shenjime për fjali tepër të gjata</span>
                    </li>
                </ul>
            </div>
        </div>
        <div
            *ngIf="processedText?.textMarkings"
            [ngClass]="{ sticky: highlightingMarking }"
        >
            <ng-template
                [ngIf]="!highlightingMarking"
                [ngIfElse]="highlightedMarkingTemplate"
            >
                <div
                    *ngFor="
                        let textMarking of processedText?.textMarkings;
                        index as i
                    "
                    class="card border-secondary {{ i > 0 ? 'mt-2' : '' }}"
                >
                    <div
                        class="card-header second-header"
                        [ngClass]="{
                            'second-header-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        <div class="grid1">
                            <span
                                class="text-marking {{ textMarking.type }}"
                                data-test="text-marking-span"
                                >{{ getTextOfTextMarking(i) }}
                            </span>
                        </div>
                        <div>
                            <button
                                (click)="deleteTextMarking(i)"
                                type="button"
                                class="btn-close text-reset cursor-pointer"
                                [ngClass]="{
                                    'clear-element-dark-mode':
                                        darkModeService.isDarkMode
                                }"
                                title="hiq shenjimin"
                                aria-label="hiq shenjimin"
                                data-test="dismiss-marking-button"
                            ></button>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li
                            class="list-group-item"
                            [ngClass]="{
                                'list-group-item-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                            <div class="d-flex">
                                <div>
                                    <b>{{ textMarking.subtype }}</b> -
                                    <span>{{ textMarking.description }}</span>
                                </div>
                                <div *ngIf="textMarking.id">
                                    <i
                                        class="bi bi-info-circle information-circle cursor-pointer"
                                        routerLink="/{{ textMarking.id }}"
                                        data-test="marking-information-icon"
                                    ></i>
                                </div>
                            </div>
                            <span *ngIf="textMarking.suggestions.length > 0">
                                <div class="suggestions">
                                    <button
                                        *ngFor="
                                            let suggestion of textMarking.suggestions.slice(
                                                0,
                                                shouldCollapseSuggestions[i]
                                                    ? 4
                                                    : textMarking.suggestions
                                                          .length
                                            );
                                            index as j
                                        "
                                        (click)="chooseSuggestion(i, j)"
                                        class="suggestion"
                                        data-test="suggestion"
                                    >
                                        <b>{{ suggestion.display }}</b>
                                    </button>
                                    <div
                                        class="pipe-separator"
                                        *ngIf="
                                            textMarking.suggestions.length > 4
                                        "
                                    >
                                        |
                                    </div>
                                    <div
                                        *ngIf="
                                            textMarking.suggestions.length > 4
                                        "
                                    >
                                        <h3
                                            (click)="
                                                oscillateSuggestion(i, $event)
                                            "
                                            class="bi suggestions-header cursor-pointer {{
                                                shouldCollapseSuggestions[i]
                                                    ? 'bi-arrow-right-square'
                                                    : 'bi-arrow-left-square'
                                            }}"
                                            data-test="oscillate-suggestions-button"
                                        ></h3>
                                    </div>
                                </div>
                            </span>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <ng-template #highlightedMarkingTemplate>
                <div class="card border-secondary">
                    <div
                        class="card-header second-header"
                        [ngClass]="{
                            'second-header-dark-mode':
                                darkModeService.isDarkMode
                        }"
                    >
                        <div class="grid1">
                            <span
                                class="text-marking {{
                                    highlightedMarking?.type
                                }}"
                                data-test="highlighted-text-marking"
                                >{{
                                    getTextOfTextMarking(
                                        highlightedMarkingIndex
                                    )
                                }}</span
                            >
                        </div>
                        <div>
                            <button
                                (click)="blurFocusedRightSideMarking()"
                                class="btn btn-secondary"
                                style="font-size: 1rem; padding: 0.1rem 0.3rem"
                                data-test="blur-marking-button"
                            >
                                <i
                                    class="bi bi-arrow-left"
                                    style="
                                        padding-right: 0.5rem;
                                        font-size: 1rem;
                                    "
                                ></i
                                >KTHEHU
                            </button>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li
                            class="list-group-item"
                            [ngClass]="{
                                'list-group-item-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                        >
                            <div class="d-flex">
                                <div>
                                    <b>{{ highlightedMarking?.subtype }}</b> -
                                    <span>{{
                                        highlightedMarking?.description
                                    }}</span>
                                </div>
                                <div *ngIf="highlightedMarking?.id">
                                    <i
                                        class="bi bi-info-circle information-circle"
                                        routerLink="{{
                                            highlightedMarking?.id
                                        }}"
                                        data-test="marking-information-icon"
                                    ></i>
                                </div>
                            </div>
                            <span
                                *ngIf="
                                    highlightedMarking !== undefined &&
                                    (highlightedMarking?.suggestions)!.length >
                                        0
                                "
                            >
                                <div class="suggestions">
                                    <button
                                        *ngFor="
                                            let suggestion of highlightedMarking?.suggestions!.slice(
                                                0,
                                                shouldCollapseSuggestions[
                                                    highlightedMarkingIndex
                                                ]
                                                    ? 4
                                                    : (highlightedMarking?.suggestions)!
                                                          .length
                                            );
                                            index as j
                                        "
                                        (click)="
                                            chooseSuggestion(
                                                highlightedMarkingIndex,
                                                j
                                            )
                                        "
                                        class="suggestion"
                                        style="color: black"
                                        data-test="suggestion"
                                    >
                                        <b>{{ suggestion.display }}</b>
                                    </button>
                                    <div
                                        class="pipe-separator"
                                        *ngIf="
                                            (highlightedMarking?.suggestions)!
                                                .length > 4
                                        "
                                    >
                                        |
                                    </div>
                                    <div
                                        *ngIf="
                                            (highlightedMarking?.suggestions)!
                                                .length > 4
                                        "
                                    >
                                        <h3
                                            (click)="
                                                oscillateSuggestion(
                                                    highlightedMarkingIndex,
                                                    $event
                                                )
                                            "
                                            class="bi suggestions-header {{
                                                shouldCollapseSuggestions[
                                                    highlightedMarkingIndex
                                                ]
                                                    ? 'bi-arrow-right-square'
                                                    : 'bi-arrow-left-square'
                                            }}"
                                            data-test="oscillate-suggestions-button"
                                        ></h3>
                                    </div>
                                </div>
                            </span>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </div>
        <div
            class="card border-secondary d-flex justify-content-center {{
                processedText?.textMarkings === undefined ||
                processedText?.textMarkings?.length === 0
                    ? ''
                    : ''
            }}"
            *ngIf="loading$ | async"
        >
            <div
                class="card-header second-header"
                [ngClass]="{
                    'second-header-dark-mode': darkModeService.isDarkMode
                }"
            >
                <div>
                    <span class="waiting-text">duke lexuar shkrimin...</span>
                </div>
            </div>
            <ul class="list-group list-group-flush listStyling">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">duke lexuar shkrimin...</span>
                </div>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<div
    id="writtenTextsHistoryModal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="writtenTextsHistoryModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="writtenTextsHistoryModalLabel" class="modal-title">
                    Historiku i Shkrimeve
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Mbyll"
                ></button>
            </div>
            <div class="modal-body" data-test="written-texts-modal-body">
                <div class="form-check form-switch">
                    <input
                        (click)="toggleStoringOfWrittenTexts()"
                        id="flex-switch-check-checked"
                        class="form-check-input"
                        type="checkbox"
                        data-test="flex-switch-check-checked"
                    />
                    <!-- TODO if user changes call a method that changes it in the service and invalidates-->
                    <label
                        class="form-check-label"
                        for="flex-switch-check-checked"
                        >Përdor Historikun e Shkrimeve</label
                    >
                    <div>
                        <i class="history-deactivation-message"
                            >çaktivizimi i historikut të shkrimeve do të fshijë
                            shkrimet ekzistuese</i
                        >
                    </div>
                </div>
                <br />
                <div
                    *ngFor="
                        let writtenText of localStorageService.fetchWrittenTextsHistory()
                    "
                    class="list-group"
                >
                    <p
                        class="written-text"
                        (click)="placeWrittenText(writtenText)"
                        type="button"
                        data-test="written-text"
                    >
                        {{ writtenText }}
                    </p>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button
                    id="close-written-texts-modal-button"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    data-test="close-written-texts-modal-button"
                >
                    Mbyll
                </button>
            </div>
        </div>
    </div>
</div>
