.typo.not-active{
    /*text-decoration: underline;*/
    /*text-decoration-color: red;*/
    background-color: #FFC8C8;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}
.active{
    background-color: aqua;    
}
.loanword {
    background-color: #FFD182;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.stylistic {
    background-color: #A1B6DC;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

#editor-placeholder {
    position: absolute;
    color: #A6A6A6;
    pointer-events: none;
    user-select: none;
}

.suggestion {
    background-color: #EAEAEA;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

/*TODO change color on .suggestion:hover ?*/

.btnUnselected {
    color: white;
    background-color: #A9A9A9;
}

#offcanvasStartButton:hover {
    background-color: #E3E3E3;
}

#clearEditorSpan:hover {
    background-color: #F3F3F3;
}

#writtenText:hover {
    background-color: #F1F1F1;
}

@media (max-width: 800px) {
    #highLevelContainer {
        flex-direction: column;
        gap: 2rem !important;
    }

    /*TODO improve code*/
    #editor {
        min-height: 18rem !important;
    }

    #suggestions {
        gap: 0.4rem !important;
    }

    #inputContainer {
        margin-right: 3rem;
    }

    #outputContainer {
        margin-left: 3rem;
    }

    #clearEditorSpan {
        font-size: 160% !important;
    }
}

/*TODO I don't like these two a lot, write better responsive code, I assume ideally this should be added in flex-stuff*/
@media (min-width: 800px) {
    #inputContainer {
        width: 35%;
    }

    #outputContainer {
        width: 35%;
    }
}
