.typo.not-active {
    /*text-decoration: underline;*/
    /*text-decoration-color: red;*/
    background-color: #ffc8c8;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}
.typo.active {
    font-weight: bold;
    background-color: #ffc8c8;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 20px;
}

.loanword.not-active {
    background-color: #ffd182;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.loanword.active {
    filter: blur(1px);
    background-color: #ffd182;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.stylistic.not-active {
    background-color: #a1b6dc;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.stylistic.active {
    filter: blur(1px);
    background-color: #a1b6dc;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}
.border-secondary.active {
    border: 3px solid;
    margin: 0px 30px 0px -17px;
}
.list-group-item.active {
    filter: blur(1px);
    background-color: white;
    border-color: none;
    color: black;
}

#editor-placeholder {
    position: absolute;
    color: #a6a6a6;
    pointer-events: none;
    user-select: none;
}
.suggestion {
    background-color: #eaeaea;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

/*TODO change color on .suggestion:hover ?*/

.btnUnselected {
    color: white;
    background-color: #a9a9a9;
}

#offcanvasStartButton:hover {
    background-color: #e3e3e3;
}

#clearEditorSpan:hover {
    background-color: #f3f3f3;
}

#writtenText:hover {
    background-color: #f1f1f1;
}

@media (max-width: 800px) {
    #highLevelContainer {
        flex-direction: column;
        gap: 2rem !important;
    }

    /*TODO improve code*/
    #editor {
        min-height: 18rem !important;
    }

    #suggestions {
        gap: 0.4rem !important;
    }

    #inputContainer {
        margin-right: 3rem;
    }

    #outputContainer {
        margin-left: 3rem;
    }

    #clearEditorSpan {
        font-size: 160% !important;
    }
}

/*TODO I don't like these two a lot, write better responsive code, I assume ideally this should be added in flex-stuff*/
@media (min-width: 800px) {
    #inputContainer {
        width: 35%;
    }

    #outputContainer {
        width: 35%;
    }
}
