<div class="high-level-container">
    <div class="input-container">
        <div
            class="card input-container-card border-secondary"
            [ngClass]="{
                'input-container-card-dark-mode': darkModeService.isDarkMode
            }"
        >
            <div
                class="card-body input-container-card-body"
                [ngClass]="{
                    'card-body-dark-mode': darkModeService.isDarkMode
                }"
            >
                <div class="editor-flex">
                    <div
                        id="editor"
                        (paste)="onTextPaste($event)"
                        (copy)="onTextCopy($event)"
                        (cut)="onTextCut($event)"
                        (keydown)="onKeyDown($event)"
                        [ngClass]="{
                            'editor-dark-mode': darkModeService.isDarkMode,
                            'editor-max-characters':
                                hasEditorOverMaxCharacters()
                        }"
                        contenteditable="true"
                        [innerHTML]="innerHTMLOfEditor"
                        spellcheck="false"
                        autocapitalize="off"
                        role="textbox"
                        aria-label="redaktori"
                        aria-multiline="true"
                        data-test="editor"
                    ></div>
                    @if (!editorHasText() || editorHasEmptyText()) {
                        <div
                            id="editor-placeholder"
                            [ngClass]="{
                                'editor-placeholder-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                            data-test="editor-placeholder"
                        >
                            <span
                                class="editor-placeholder-text"
                                data-test="editor-placeholder-text"
                                >Shkruaj këtu ose </span
                            ><span
                                type="button"
                                class="editor-placeholder-upload"
                                data-bs-toggle="modal"
                                data-bs-target="#document-upload-modal"
                                data-test="editor-placeholder-upload"
                                >ngarko një dokument</span
                            >
                        </div>
                    }
                    @if (editorHasText()) {
                        <div>
                            <button
                                type="button"
                                class="btn-close text-reset close-button-text-reset"
                                [ngClass]="{
                                    'clear-element-dark-mode':
                                        darkModeService.isDarkMode
                                }"
                                (click)="clearEditor()"
                                title="fshi shkrimin"
                                aria-label="fshi shkrimin"
                                data-test="clear-editor-icon"
                            ></button>
                        </div>
                    }
                </div>
                <hr class="editor-hr" />
                <div class="editor-toolbar">
                    <span
                        class="characters-words-markings"
                        [ngClass]="{
                            'characters-words-markings-dark-mode':
                                darkModeService.isDarkMode,
                            'max-editor-characters':
                                hasEditorOverMaxCharacters(),
                            'unconventional-editor-characters':
                                hasEditorUnconventionalCharacters()
                        }"
                        data-test="characters-words-markings"
                    >
                        @if (hasEditorOverMaxCharacters()) {
                            {{
                                MAX_EDITOR_CHARACTERS_MESSAGE
                            }}&nbsp;&nbsp;–&nbsp;
                        }
                        @if (hasEditorUnconventionalCharacters()) {
                            {{
                                UNCONVENTIONAL_CHARACTERS_MESSAGE
                            }}&nbsp;&nbsp;–&nbsp;
                        }
                        {{ characterCount }}&nbsp;{{
                            characterCount === 1 ? "karakter" : "karaktere"
                        }}&comma;&nbsp;{{ wordCount }}&nbsp;fjalë&comma;&nbsp;{{
                            processedText === undefined
                                ? 0
                                : processedText!.markings.length
                        }}&nbsp;{{
                            processedText !== undefined &&
                            processedText!.markings.length === 1
                                ? "shenjim"
                                : "shenjime"
                        }}</span
                    >
                    <span
                        ><button
                            id="copy-to-clipboard-button"
                            (click)="copyToClipboard()"
                            class="bi bi-clipboard editor-footer-button"
                            [ngClass]="{
                                'clipboard-button-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                            title="kopjo shkrimin (c)"
                            data-test="copy-to-clipboard-button"
                        ></button
                        >&nbsp;&nbsp;&nbsp;&nbsp;<button
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#writings-history-modal"
                            title="trego historikun e shkrimeve (h)"
                            class="bi bi-clock-history editor-footer-button"
                            [ngClass]="{
                                'writings-history-button-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                            data-test="writings-history-button"
                        ></button
                    ></span>
                </div>
            </div>
        </div>
    </div>
    <div class="output-container">
        @if (
            (processedText === undefined ||
                processedText!.markings.length === 0) &&
            !(loading$ | async)
        ) {
            <app-template-markings />
        }
        @if (processedText?.markings) {
            <div
                id="sticky-container"
                [ngClass]="{ sticky: highlightedMarkingIndex !== -1 }"
            >
                @if (highlightedMarkingIndex === -1) {
                    @for (
                        marking of processedText?.markings;
                        track marking;
                        let markingIndex = $index
                    ) {
                        @if (!shouldVeilMarkings[markingIndex]) {
                            <div
                                class="card border-secondary generated-marking-card"
                                [ngClass]="{ 'mt-2 mb-2': markingIndex > 0 }"
                                data-test="marking-card"
                            >
                                <div
                                    class="card-header generated-marking-card-header second-header"
                                    [ngClass]="{
                                        'second-header-dark-mode':
                                            darkModeService.isDarkMode
                                    }"
                                >
                                    <div class="generated-marking">
                                        <span
                                            class="marking {{
                                                marking.type
                                            }}-marking-header"
                                            data-test="marking-span"
                                            >{{
                                                getTextOfMarking(markingIndex)
                                            }}
                                        </span>
                                    </div>
                                    <div>
                                        <button
                                            (click)="
                                                dismissMarking(markingIndex)
                                            "
                                            type="button"
                                            class="btn-close text-reset dismiss-marking-close-button"
                                            [ngClass]="{
                                                'dismiss-marking-element-dark-mode':
                                                    darkModeService.isDarkMode
                                            }"
                                            title="hiq shenjimin"
                                            aria-label="hiq shenjimin"
                                            data-test="dismiss-marking-button"
                                        ></button>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li
                                        class="list-group-item generated-marking-list-group-item"
                                        [ngClass]="{
                                            'list-group-item-dark-mode':
                                                darkModeService.isDarkMode
                                        }"
                                    >
                                        <div class="information-circle-flex">
                                            <div>
                                                @if (
                                                    marking.type ===
                                                    "grammatical"
                                                ) {
                                                    <i
                                                        class="bi bi-stars grammatical-marking-stars"
                                                    ></i>
                                                }
                                                <b>{{ marking.subtype }}</b> -
                                                <span>{{
                                                    marking.description
                                                }}</span>
                                            </div>
                                            @if (marking.id) {
                                                <div>
                                                    <i
                                                        class="bi bi-info-circle information-circle"
                                                        routerLink="/{{
                                                            marking.id
                                                        }}"
                                                        data-test="marking-information-icon"
                                                    ></i>
                                                </div>
                                            }
                                        </div>
                                        @if (marking.suggestions.length) {
                                            <span>
                                                <div class="suggestions">
                                                    @for (
                                                        suggestion of marking.suggestions.slice(
                                                            0,
                                                            shouldCollapseSuggestions[
                                                                markingIndex
                                                            ]
                                                                ? 4
                                                                : marking
                                                                      .suggestions
                                                                      .length
                                                        );
                                                        track suggestion;
                                                        let suggestionIndex = $index
                                                    ) {
                                                        <button
                                                            (click)="
                                                                chooseSuggestion(
                                                                    markingIndex,
                                                                    suggestionIndex
                                                                )
                                                            "
                                                            class="suggestion"
                                                            data-test="suggestion"
                                                            [ngClass]="{
                                                                'suggestion-dark-mode':
                                                                    darkModeService.isDarkMode
                                                            }"
                                                        >
                                                            <b>{{
                                                                suggestion.display
                                                            }}</b>
                                                        </button>
                                                    }
                                                    @if (
                                                        marking.suggestions
                                                            .length > 4
                                                    ) {
                                                        <div
                                                            class="pipe-separator"
                                                        >
                                                            |
                                                        </div>
                                                    }
                                                    @if (
                                                        marking.suggestions
                                                            .length > 4
                                                    ) {
                                                        <div>
                                                            <h3
                                                                (click)="
                                                                    oscillateSuggestion(
                                                                        markingIndex,
                                                                        $event
                                                                    )
                                                                "
                                                                class="bi suggestions-header {{
                                                                    shouldCollapseSuggestions[
                                                                        markingIndex
                                                                    ]
                                                                        ? 'bi-arrow-right-square'
                                                                        : 'bi-arrow-left-square'
                                                                }}"
                                                                data-test="oscillate-suggestions-button"
                                                            ></h3>
                                                        </div>
                                                    }
                                                </div>
                                            </span>
                                        }
                                    </li>
                                </ul>
                            </div>
                        } @else {
                            <app-veiled-marking
                                [veiledMarkingIndex]="markingIndex"
                            ></app-veiled-marking>
                        }
                    }
                } @else {
                    @if (!shouldVeilMarkings[highlightedMarkingIndex]) {
                        <div
                            class="card highlighted-marking-card border-secondary"
                            data-test="marking-card"
                        >
                            <div
                                class="card-header highlighted-marking-card-header second-header"
                                [ngClass]="{
                                    'second-header-dark-mode':
                                        darkModeService.isDarkMode
                                }"
                            >
                                <div class="generated-marking">
                                    <span
                                        class="marking {{
                                            processedText?.markings?.[
                                                highlightedMarkingIndex
                                            ]?.type
                                        }}-marking-header"
                                        data-test="highlighted-marking"
                                        >{{
                                            getTextOfMarking(
                                                highlightedMarkingIndex
                                            )
                                        }}</span
                                    >
                                </div>
                                <div>
                                    <button
                                        (click)="blurHighlightedBoardMarking()"
                                        class="btn btn-secondary blur-marking-button"
                                        data-test="blur-marking-button"
                                    >
                                        <i class="bi bi-arrow-left"></i>KTHEHU
                                    </button>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item highlighted-marking-list-group-item"
                                    [ngClass]="{
                                        'list-group-item-dark-mode':
                                            darkModeService.isDarkMode
                                    }"
                                >
                                    <div class="information-circle-flex">
                                        <div>
                                            @if (
                                                processedText?.markings?.[
                                                    highlightedMarkingIndex
                                                ]?.subtype === "grammatical"
                                            ) {
                                                <i class="bi bi-stars"></i>
                                            }
                                            <b>{{
                                                processedText?.markings?.[
                                                    highlightedMarkingIndex
                                                ]?.subtype
                                            }}</b>
                                            -
                                            <span>{{
                                                processedText?.markings?.[
                                                    highlightedMarkingIndex
                                                ]?.description
                                            }}</span>
                                        </div>
                                        @if (
                                            processedText?.markings?.[
                                                highlightedMarkingIndex
                                            ]?.id
                                        ) {
                                            <div>
                                                <i
                                                    class="bi bi-info-circle information-circle"
                                                    routerLink="{{
                                                        processedText
                                                            ?.markings?.[
                                                            highlightedMarkingIndex
                                                        ]?.id
                                                    }}"
                                                    data-test="marking-information-icon"
                                                ></i>
                                            </div>
                                        }
                                    </div>
                                    @if (
                                        processedText?.markings?.[
                                            highlightedMarkingIndex
                                        ] !== undefined &&
                                        (processedText?.markings?.[
                                            highlightedMarkingIndex
                                        ]?.suggestions)!.length
                                    ) {
                                        <span>
                                            <div class="suggestions">
                                                @for (
                                                    suggestion of processedText?.markings?.[
                                                        highlightedMarkingIndex
                                                    ]?.suggestions!.slice(
                                                        0,
                                                        shouldCollapseSuggestions[
                                                            highlightedMarkingIndex
                                                        ]
                                                            ? 4
                                                            : (processedText
                                                                  ?.markings?.[
                                                                  highlightedMarkingIndex
                                                              ]?.suggestions)!
                                                                  .length
                                                    );
                                                    track suggestion;
                                                    let suggestionIndex = $index
                                                ) {
                                                    <button
                                                        (click)="
                                                            chooseSuggestion(
                                                                highlightedMarkingIndex,
                                                                suggestionIndex
                                                            )
                                                        "
                                                        class="suggestion"
                                                        data-test="suggestion"
                                                    >
                                                        <b>{{
                                                            suggestion.display
                                                        }}</b>
                                                    </button>
                                                }
                                                @if (
                                                    (processedText?.markings?.[
                                                        highlightedMarkingIndex
                                                    ]?.suggestions)!.length > 4
                                                ) {
                                                    <div class="pipe-separator">
                                                        |
                                                    </div>
                                                }
                                                @if (
                                                    (processedText?.markings?.[
                                                        highlightedMarkingIndex
                                                    ]?.suggestions)!.length > 4
                                                ) {
                                                    <div>
                                                        <h3
                                                            (click)="
                                                                oscillateSuggestion(
                                                                    highlightedMarkingIndex,
                                                                    $event
                                                                )
                                                            "
                                                            class="bi suggestions-header"
                                                            [ngClass]="
                                                                shouldCollapseSuggestions[
                                                                    highlightedMarkingIndex
                                                                ]
                                                                    ? 'bi-arrow-right-square'
                                                                    : 'bi-arrow-left-square'
                                                            "
                                                            data-test="oscillate-suggestions-button"
                                                        ></h3>
                                                    </div>
                                                }
                                            </div>
                                        </span>
                                    }
                                </li>
                            </ul>
                        </div>
                    } @else {
                        <app-veiled-marking
                            [veiledMarkingIndex]="highlightedMarkingIndex"
                        ></app-veiled-marking>
                    }
                }
            </div>
        }
        @if (loading$ | async) {
            <app-loading-marking />
        }
    </div>
</div>

<app-writings-history (markEditorEmitter)="markEditor()"></app-writings-history>

<app-thank-you />

<app-welcome />

<app-document-upload />
