.high-level-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.card-body {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--light-mode-color);
}

.card-body-dark-mode {
    background-color: #9a9a9a;
    border-radius: 0.25rem;
}

.list-group-item {
    background-color: var(--light-mode-color);
}

.list-group-item-dark-mode {
    background-color: var(--dark-mode-theme);
    color: var(--dark-mode-anti-theme);
}

.card {
    border: 0px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0 10px rgba(216, 216, 216, 0.6);
}

.card-header {
    border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.input-container {
    flex: 0 0 62%;
    margin-left: 3rem;
}

.first-header {
    display: flex;
    justify-content: space-evenly;
}

.first-header-dark-mode {
    border: 1px solid var(--dark-mode-smooth-theme);
}

.pipe-separator {
    display: flex;
    align-items: center;
    color: var(--dark-mode-smooth-theme);
}

#editor {
    min-width: 96%;
    min-height: 30rem;
    font-size: 17px;
    outline: 0 solid transparent;
}

.editor-toolbar {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    /* TODO: an attempt to keep the bottom bar of the editor always visible */
    /*position: sticky;*/
    /*bottom: 0;*/
}

.characters-words-markings {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.characters-words-markings-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.editor-footer-line-dark-mode {
    color: var(--dark-mode-smooth-theme);
}

.editor-footer-button {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font-size: 1.25rem;
}

.clipboard-button-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.output-container {
    flex: 0 0 30%;
    margin-right: 3rem;
    /*padding-right: 25px;*/
}

.template-marking-span {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
}

.second-header {
    display: flex;
    justify-content: space-between;
}

.second-header-dark-mode {
    background-color: var(--dark-mode-theme);
}

.generated-marking {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: inherit;
    max-width: 80%;
}

.text-marking {
    padding: 3px 6px;
}

.information-circle {
    font-size: 20px;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.editor-hr {
    color: lightgray;
}

.waiting-text {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
    border-radius: 4px;
    border: none;
}

.listStyling {
    min-height: 50px;
}

.spinner-border {
    margin-left: 45%;
    margin-top: 10px;
}

.history-deactivation-message {
    color: #919191;
    font-size: 13px;
}

.written-text {
    box-shadow: 0 0 10px rgba(216, 216, 216, 0.6);
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
}

.written-text:hover {
    background-color: #f1f1f1;
}

.written-text-dark-mode:hover {
    background-color: lightgray;
}

.written-text-dark-mode {
    background-color: #9a9a9a;
    color: black;
}

.written-text-history-button-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.typo {
    /*text-decoration: underline;*/
    /*text-decoration-color: red;*/
    background-color: var(--typo-color);
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.loanword {
    background-color: var(--loanword-color);
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.stylistic {
    background-color: var(--stylistic-color);
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

#editor-placeholder {
    position: absolute;
    /*color: #707070;*/
    color: #858585;
}

.editor-placeholder-dark-mode {
    color: var(--dark-mode-anti-theme) !important;
}

.editor-placeholder-text {
    pointer-events: none;
    user-select: none;
}

.editor-placeholder-upload {
    color: #0074e5;
    cursor: pointer;
    text-decoration: underline;
}

/*TODO: improve the following*/
.suggestion {
    background-color: #eaeaea;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.suggestion-dark-mode {
    background-color: #686868;
    color: white;
}

.marking-focus {
    margin: 0 30px 0 -17px;
    border: 3px solid;
    font-weight: bold;
    transition: all 0.1s;
}
.marking-unfocus {
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
    border: 1px solid;
    font-weight: normal;
}

.modal-header-dark-mode {
    background-color: var(--dark-mode-theme);
    color: white;
}

.modal-body-dark-mode {
    background-color: var(--dark-mode-theme);
    color: white;
}

.modal-footer-dark-mode {
    background-color: var(--dark-mode-theme);
}


.sticky {
    position: sticky;
    top: 0;
}

/*TODO: apply dark mode for the history of the written texts*/
.written-texts-history-dark-mode {
    background-color: var(--dark-mode-theme);
}

.clear-typo-element-dark-mode {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.btn-secondary {
    padding: 0.1rem 0.3rem;
}

.bi-arrow-left {
    padding-right: 0.5rem;
}

/*TODO change color on .suggestion:hover ?*/
@media (max-width: 800px) {
    .high-level-container {
        flex-direction: column;
        gap: 2rem !important;
    }

    #editor {
        min-width: 90%;
        min-height: 18rem !important;
    }

    /*TODO improve code*/
    .suggestions {
        gap: 0.4rem !important;
    }

    .input-container {
        margin-right: 3rem;
    }

    .output-container {
        margin-left: 3rem;
    }
}

/*TODO I don't like these two a lot, write better responsive code, I assume ideally this should be added in flex-stuff*/
@media (min-width: 800px) {
    .input-container {
        width: 35%;
    }

    .output-container {
        width: 35%;
    }
}

