@import "../app.component.css";

:root {
    --light: #eaeaea;
    --dark: #28292c;
}

.high-level-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
}

.input-container {
    flex: 0 0 60%;
    margin-left: 3rem;
}

.firstHeader {
    display: flex;
    justify-content: space-evenly;
}

.btnSeparator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}

#editor {
    min-width: 96%;
    min-height: 30rem;
    font-size: 17px;
    padding-right: 2%;
    outline: 0 solid transparent;
}

.editor-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.clear-editor-section {
    min-width: 4%;
}

.clear-editor-span {
    font-size: 36px;
    border-radius: 40%;
    cursor: pointer;
}

.clear-editor-span:hover {
    background-color: #f3f3f3;
}

.flex1 {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.characters-words-markings {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.characters-words-markings-dark-mode {
    color: var(--dark-mode-anti-theme);
}

#copyToClipboardButton {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font-size: 1.25rem;
}

.clipboard-button-dark-mode {
    color: var(--dark-mode-anti-theme) !important;
}

#clockHistory {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font-size: 1.25rem;
}

#documentUploadingHiddenInput {
    display: none;
}

.output-container {
    flex: 0 0 30%;
    margin-right: 3rem;
}

.secondHeader {
    display: flex;
    justify-content: space-between;
}

.writing-mistakes {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
}

.wordsSuggestions {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
}

.stylingBookmarks {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
}

.grid1 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: inherit;
    max-width: 80%;
}

.text-marking {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 4px;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.information-circle {
    font-size: 20px;
    color: #484848;
    cursor: pointer;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    gap: 1rem;
}

.suggestion {
    color: black;
}

.suggestion-display {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737373;
}

.suggestions-header {
    display: inline-block;
    align-items: flex-start;
    margin: 0;
    line-height: inherit;
    cursor: pointer;
}

.waiting-text {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    color: black;
    border-radius: 4px;
    border: none;
}

.listStyling {
    min-height: 50px;
}

.spinner-border {
    margin-left: 45%;
    margin-top: 10px;
}

#history-deactivation {
    color: gray;
    font-size: 13px;
}

.written-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.written-text:hover {
    background-color: #f1f1f1;
}

.written-text-history-button-dark-mode {
    color: var(--dark-mode-anti-theme) !important;
}

.typo {
    /*text-decoration: underline;*/
    /*text-decoration-color: red;*/
    background-color: var(--typo-color);
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.loanword {
    background-color: var(--loanword-color);
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.stylistic {
    background-color: var(--stylistic-color);
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

#editor-placeholder {
    position: absolute;
    color: #a6a6a6;
    pointer-events: none;
    user-select: none;
}

#editor > p > .typo {
    cursor: pointer;
}

.suggestion {
    background-color: #eaeaea;
    border-radius: 4px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

/*TODO change color on .suggestion:hover ?*/

.btnUnselected {
    color: white;
    background-color: #a9a9a9;
}

@media (max-width: 800px) {
    .high-level-container {
        flex-direction: column;
        gap: 2rem !important;
    }

    /*TODO improve code*/
    #editor {
        min-height: 18rem !important;
    }

    #suggestions {
        gap: 0.4rem !important;
    }

    .input-container {
        margin-right: 3rem;
    }

    .output-container {
        margin-left: 3rem;
    }

    .clear-editor-span {
        font-size: 160% !important;
    }
}

.marking-focus {
    margin: 0 30px 0 -17px;
    border: 3px solid;
    font-weight: bold;
    transition: all 0.1s;
}

.marking-unfocus {
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
    border: 1px solid;
    font-weight: normal;
}

.marking-blur {
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
    border: 1px solid;
    font-weight: normal;
    filter: blur(2px);
}

/*TODO I don't like these two a lot, write better responsive code, I assume ideally this should be added in flex-stuff*/
@media (min-width: 800px) {
    .input-container {
        width: 35%;
    }

    .output-container {
        width: 35%;
    }
}

.sticky {
    position: sticky;
    top: 0;
}

.high-level-container-dark-mode {
    background-color: var(--dark-mode-theme);
}

.editor-placeholder-dark-mode {
    color: var(--dark-mode-anti-theme) !important;
}

.list-group-item-dark-mode {
    background-color: var(--dark-mode-theme);
    color: var(--dark-mode-anti-theme);
}

.input-container-card-dark-mode {
    background-color: var(--dark-mode-theme);
}

/*TODO: apply dark mode for the history of the written texts*/
.written-texts-history-dark-mode {
    background-color: var(--dark-mode-theme);
}
