<div
    id="writings-history-modal"
    class="modal fade"
    tabindex="-1"
    aria-labelledby="writings-history-modal-label"
    aria-hidden="true"
>
    <div class="modal-dialog" data-test="modal-dialog">
        <div class="modal-content">
            <div
                class="modal-header"
                [ngClass]="{
                    'modal-header-dark-mode': darkModeService.isDarkMode
                }"
            >
                <h5 id="writings-history-modal-label" class="modal-title">
                    Historiku i Shkrimeve
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    [ngClass]="{
                        'btn-close-white': darkModeService.isDarkMode
                    }"
                    data-bs-dismiss="modal"
                    aria-label="Mbyll"
                ></button>
            </div>
            <div
                class="modal-body history-modal-body"
                [ngClass]="{
                    'modal-body-dark-mode': darkModeService.isDarkMode
                }"
                data-test="writings-history-modal-body"
            >
                <div class="form-check form-switch history-body">
                    <!-- TODO if user changes call a method that changes it in the service and invalidates-->
                    <label class="form-check-label" for="writings-input"
                        >Përdor Historikun e Shkrimeve</label
                    >
                    <label class="switch">
                        <input
                            (click)="toggleStoringOfWritings()"
                            id="writings-input"
                            type="checkbox"
                        />
                        <span
                            class="slider round"
                            data-test="writings-input"
                        ></span>
                    </label>
                    <div>
                        <span class="history-deactivation-message"
                            >çaktivizimi i historikut të shkrimeve do të fshijë
                            shkrimet ekzistuese</span
                        >
                    </div>
                </div>
                @for (
                    writing of writingsHistoryService.fetchWritingsHistory();
                    track writing
                ) {
                    <div class="list-group home-list-group">
                        <p
                            class="writing"
                            [ngClass]="{
                                'writings-history-dark-mode':
                                    darkModeService.isDarkMode
                            }"
                            (click)="placeWriting(writing)"
                            type="button"
                            data-test="writing"
                        >
                            {{ writing }}
                        </p>
                    </div>
                }
            </div>
            <div
                class="modal-footer"
                [ngClass]="{
                    'modal-footer-dark-mode': darkModeService.isDarkMode
                }"
            >
                <button
                    id="close-writings-history-modal-button"
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    data-test="close-writings-history-modal-button"
                >
                    Mbyll
                </button>
            </div>
        </div>
    </div>
</div>
