.h3-container{
    position: relative;
}

.h3-identifikohu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100px);
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 18px;
}

.google-button-class1{
    position: relative;
}

.google-button-class2{
    /**box-sizing: border-box;**/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200px);
    /**
    width: 300px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 13px;
    font-weight: bold;**/
}

.button-divider{
    position: absolute;
    width: 9.5px;
    height: 0px;
    left: 49%;
    top: 300px;
    border: 1px solid #000000;
    transform: rotate(90deg);
}



.facebook-button-class1{
    position: relative;
}

.facebook-button-class2{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 260px);
    width: 300px;
    height: 36px;
    background: #4267B2;
    border: 1px solid #000000;
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 22px;
    line-height: 13px;
    font-weight: bold;
    color: #FFFFFF;

}
