<div class="h3-container">
    <h1 class="h3-identifikohu">Identifikohu Këtu</h1>
</div>
<div class="button-div">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-4 mt-2 m-auto">
                <button class="loginBtn loginBtn--google" #loginRef>
                    Identifikohu me Google
                </button>
            </div>
        </div>
    </div>

    <div class="button-divider"></div>

    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-4 mt-2 m-auto">
                <button class="loginBtn loginBtn--facebook" (click)="login()">
                    Identifikohu me Facebook
                </button>
            </div>
        </div>
    </div>
</div>
