<div style="margin-left:27%;width:60%;">
    <!-- display:flex; flex-direction:column;align-items:flex-start; align-self:center; -->
    <br>

    <div>
        <h1>Te dhe Tek</h1>
    </div>
    <hr style="color: darkgray; width: 24%;">
    <br>

    <div>
        <h3>Rregulli i Përdorimit</h3>
        <p>Parafjala "te" përdoret kur fjala vijuese fillon me bashkëtingellore, ndërsa parafjala "tek" përdoret kur
            fjala vijuese fillon me zanore.</p>
    </div>
    <br>
    <br>

    <div>
        <h3>Shembuj</h3>
        <p><i style="color:red;">Pra shkoi tek zyra.</i>&nbsp;&nbsp;->&nbsp;&nbsp;<i style="color:green;">Pra shkoi te
            zyra.</i></p>
    </div>
    <br>
    <br>

    <div>
        <h3>Historiku</h3>
        <p>Vendosur si rregull sintaksor pas caktimit të standardit.</p>
    </div>
    <br>
    <br>

    <div>
        <h3>Referenca</h3>
        <p>?</p>
    </div>
    <br>
</div>
