<div>
    <ng-template [ngIf]="isLoading" [ngIfElse]="loadingTemplate">
        <div class="central-settings-area">
            <div
                class="card main-card p-3"
                [ngClass]="{
                    'settings-dark-mode': darkModeService.isDarkMode
                }"
            >
                <div
                    class="card-body placeholder-glow flex-layout-div flex-column"
                    [ngClass]="{
                        'settings-dark-mode': darkModeService.isDarkMode
                    }"
                >
                    <h3
                        class="placeholder col-5 placeholder-lg skeleton-header skeleton-text-area"
                    ></h3>
                    <p class="placeholder skeleton-text-area col-7"></p>
                    <p class="placeholder skeleton-text-area col-11"></p>
                    <p class="placeholder skeleton-text-area col-9"></p>
                    <hr />

                    <h3
                        class="placeholder col-3 skeleton-header skeleton-text-area"
                    ></h3>
                    <p class="placeholder skeleton-text-area col-6"></p>
                    <p class="placeholder skeleton-text-area col-12"></p>
                    <p class="placeholder skeleton-text-area col-8"></p>
                    <hr />

                    <h3
                        class="placeholder col-5 skeleton-header skeleton-text-area"
                    ></h3>
                    <p class="placeholder skeleton-text-area col-8"></p>
                    <p class="placeholder skeleton-text-area col-7"></p>
                    <p class="placeholder skeleton-text-area col-12"></p>

                    <hr />

                    <h3
                        class="placeholder col-5 skeleton-header skeleton-text-area"
                    ></h3>
                    <p class="placeholder skeleton-text-area col-8"></p>
                    <p class="placeholder skeleton-text-area col-7"></p>
                    <p class="placeholder skeleton-text-area col-12"></p>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #loadingTemplate>
        <div class="central-settings-area">
            <div
                class="card skeleton-main-card p-3"
                style="width: 60%"
                [ngClass]="{
                    'settings-dark-mode': darkModeService.isDarkMode
                }"
            >
                <div
                    class="card-body"
                    [ngClass]="{
                        'card-body-dark-mode': darkModeService.isDarkMode
                    }"
                >
                    <h3 class="card-title">Cilësimet</h3>

                    <div class="dark-mode-setting-section">
                        <h5>Pamja e Zgjedhur</h5>
                        <hr />
                        <div
                            class="flex-layout-div dark-mode-div dark-mode-label-flex"
                        >
                            <div>Ndrysho Pamjen</div>
                            <div class="toggle-switch">
                                <label class="dark-mode-label">
                                    <input
                                        data-test="dark-mode-button-toggle-switch"
                                        class="dark-mode-input"
                                        type="checkbox"
                                        name="dark-mode-input"
                                        [(ngModel)]="darkModeService.isDarkMode"
                                        (change)="
                                            darkModeService.onDarkModeChange()
                                        "
                                    />
                                    <span class="dark-mode-slider"></span>
                                </label>
                            </div>
                        </div>
                        <ng-template
                            [ngIf]="darkModeService.isDarkMode"
                            [ngIfElse]="otherModeText"
                        >
                            <span class="dark-mode-informative-text"
                                >Përdor Pamjen e Çelur</span
                            >
                        </ng-template>
                        <ng-template #otherModeText>
                            <span class="light-mode-informative-text"
                                >Përdor Pamjen e Errët</span
                            >
                        </ng-template>
                    </div>

                    <div class="dark-mode-setting-section">
                        <h5>Shenjimet e Hequra</h5>
                        <hr />
                        <div
                            class="flex-layout-div dark-mode-div dark-mode-label-flex"
                        >
                            <div>Rishiko shenjimet që keni hequr më parë.</div>
                            <button
                                class="btn btn-secondary deleted-dismissed-marking-button"
                                id="dismissedMarkingsModalButton"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#dismissedMarkingsModal"
                            >
                                Rishiko Shenjimet
                            </button>
                        </div>
                    </div>

                    <div>
                        <h5>Llojet e Shenjimeve</h5>
                        <hr />
                        <p class="card-text">
                            Shto ose hiq lloje shenjimesh për të cilat dëshironi
                            të shikoni shenjime në shkrimet tuaja.
                        </p>
                        <!--                <hr />-->

                        <div
                            *ngFor="let markingType of markingTypes"
                            class="flex-layout-div marking-type-flex"
                        >
                            <span>
                                <span>{{ markingType[1].description }}</span>
                                <span
                                    routerLink="/{{ markingType[0] }}"
                                    class="marking-type-routing-span"
                                    ><i class="bi bi-box-arrow-up-right"></i
                                ></span>
                            </span>

                            <span>
                                <label
                                    class="marking-type-label"
                                    style="
                                        margin-bottom: 1.5rem;
                                        margin-right: 0.5rem;
                                    "
                                    [for]="markingType[0]"
                                >
                                    <input
                                        class="marking-type-input"
                                        role="switch"
                                        type="checkbox"
                                        [id]="markingType[0]"
                                        [value]="markingType[1].description"
                                        [(ngModel)]="markingType[1].enabled"
                                        (ngModelChange)="
                                            onMarkingTypeSelection(
                                                markingType[0],
                                                $event
                                            )
                                        "
                                        data-test="switch-check-testing"
                                    /><span class="slider round"></span> </label
                            ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<div
    class="modal fade"
    id="dismissedMarkingsModal"
    tabindex="-1"
    aria-labelledby="dismissedMarkingsModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content "[ngClass]="{
        'modal-content-settings-dark-mode': darkModeService.isDarkMode
        }">
            <div class="modal-header">
                <h5 class="modal-title" id="dismissedMarkingsModalLabel">
                    Shenjimet e Larguara
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    [ngClass]="{
                    'btn-close-white': darkModeService.isDarkMode
                }"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div
                class="modal-body"
                style="
                    display: flex;
                    align-content: flex-start;
                    justify-content: space-between;
                "
            >
                <div *ngIf="dismissedMarkings.length !== 0">
                    <button
                        *ngFor="let dismissedMarking of dismissedMarkings"
                        type="button"
                        class="btn position-relative"
                        style="
                            background-color: #ff7676;
                            color: white;
                            font-weight: 500;
                            margin-right: 2rem;
                            margin-bottom: 1.5rem;
                        "
                    >
                        {{ dismissedMarking
                        }}<span
                            (click)="undoMarkingDismissal(dismissedMarking)"
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
                            style="background-color: #676767"
                        >
                            <button
                                type="button"
                                style="width: 0.2rem; height: 0.5rem"
                                class="btn-close btn-close-white"
                                aria-label="Largo Shenjimin"
                            ></button>
                        </span>
                    </button>
                </div>

                <div *ngIf="dismissedMarkings.length === 0">
                    <p>Nuk keni larguar ndonjë shenjim deri më tani.</p>
                    <p>
                        Mund të klikoni te ikona kryq te një shenjim në mënyrë
                        që të mos shfaqet më. Më tej ajo mund të rikthehet
                        nëpërmjet këtij dialogu.
                    </p>
                </div>
            </div>
            <div
                class="modal-footer"
                style="display: flex; justify-content: space-around"
            >
                <button
                    type="button"
                    style="
                        background-color: transparent;
                        font-weight: 500;
                        border: none;
                    "
                    class="modal-footer-button"
                    data-bs-dismiss="modal"
                    [ngClass]="{
        'modal-footer-button-dark-mode': darkModeService.isDarkMode
        }"
                >
                    Mbyll
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    style="font-weight: 500"
                    data-bs-toggle="modal"
                    data-bs-target="#dismissedMarkingsModal"
                    aria-controls="dismissedMarkingsModal"
                    (click)="undoMarkingsDismissal()"
                >
                    Zhbëj të Gjitha
                </button>
            </div>
        </div>
    </div>
</div>
