.marking-type-label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}

.marking-type-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode-setting-section {
    margin: 3rem 0;
}

.immediate-markings-setting-section {
    margin: 3rem 0;
}

.dismissed-markings-setting-section {
    margin: 3rem 0;
}

.settings-dark-mode {
    background-color: var(--dark-mode-theme) !important;
    color: var(--dark-mode-anti-theme);
}

.card-body-dark-mode {
    background-color: var(--dark-mode-theme);
}

.dark-mode-label {
    cursor: pointer;
    position: absolute;
    width: 42px;
    height: 25px;
    background-color: var(--dark);
    border-radius: 50px;
    border: 1px solid var(--dark-mode-smooth-theme);
}

.container-div-settings {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.arrow-up-right-cursor {
    color: var(--dark-mode-smooth-theme);
    margin-left: 0.5rem;
}

.marking-type-routing-span {
    cursor: pointer;
    margin-left: 0.5rem;
    color: gray;
}

.dark-mode-label-flex {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.marking-type-flex {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.central-settings-area {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.dark-mode-informative-text {
    display: flex;
    padding-top: 0.3rem;
    font-size: 0.8rem;
    color: var(--dark-mode-smooth-theme);
}

.light-mode-informative-text {
    display: flex;
    padding-top: 0.3rem;
    font-size: 0.8rem;
    color: var(--dark-mode-smooth-theme);
}

.main-card {
    background-color: var(--light-mode-color);
    position: relative;
    display: flex;
    border: 0 solid var(--card-border-color);
    border-radius: 0.25rem;
    box-shadow: 0 0 10px var(--card-box-shadow-color);
    width: 60%;
    margin-bottom: 2rem;
}

.modal-content-settings-dark-mode {
    background-color: var(--dark-mode-theme);
    color: var(--dark-mode-anti-theme);
}

.modal-footer-button {
    color: var(--modal-go-back-button-color);
    background-color: transparent;
    font-weight: 500;
    border: none;
}

.modal-footer-button-dark-mode {
    color: var(--dark-mode-anti-theme);
}

.dismissed-marking-list-modal {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.list-of-dismissed-markings {
    background-color: var(--dismissed-marking);
    color: white;
    font-weight: 500;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
}

.undo-dismissed-marking {
    background-color: var(--active-dropdown-menu-dark-mode);
}

.remove-marking-button {
    width: 0.2rem;
    height: 0.5rem;
}

.dismissed-marking-modal-footer {
    display: flex;
    justify-content: space-around;
}

.undo-all-dismissed-markings {
    font-weight: 500;
}

.undo-all-dismissed-markings:disabled {
    cursor: not-allowed;
    pointer-events: all;
}

.option-set-system-mode-light-mode.active {
    background-color: var(--light-mode-hover-theme);
    border-radius: 10px;
}

.option-set-system-mode-dark-mode.active {
    background-color: var(--dark-mode-hover-color);
    border-radius: 10px;
}

.option-set-dark-mode.active {
    background-color: var(--active-dropdown-menu-dark-mode);
    border-radius: 10px;
}

.option-set-light-mode-span.active {
    background-color: var(--light-mode-hover-theme);
    border-radius: 10px;
}

.set-moon-icon {
    color: var(--dark);
}

.set-system-icon {
    color: var(--dark);
}

.set-moon-icon-dark-mode {
    color: var(--light);
}

.theme-selector-text-moon {
    color: var(--dark);
}

.theme-selector-text-sun {
    color: var(--dark);
}

.theme-selector-text-system {
    color: var(--dark);
}

.theme-selector-dark-mode {
    background-color: var(--dark-mode-theme);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.set-moon-icon-dark-mode {
    color: var(--light);
}

.set-sun-icon-dark-mode {
    color: var(--light);
}

.set-system-icon-dark-mode {
    color: var(--light);
}

.set-moon-icon-dark-mode-dark-mode {
    color: var(--light);
}

.theme-selector-text-moon-dark-mode {
    color: var(--light);
}

.theme-selector-text-sun-dark-mode {
    color: var(--light);
}

.theme-selector-text-system-dark-mode {
    color: var(--light);
}

.theme-selector-paragraph {
    display: flex;
    justify-content: center;
}

.option-set-light-mode-span {
    padding: 0px 14px;
    cursor: pointer;
}

.option-set-system-mode {
    padding: 0px 14px;
    cursor: pointer;
    border-radius: 10px;
}

.option-set-dark-mode {
    padding: 0px 14px;
    cursor: pointer;
}

.theme-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 300px;
}

.theme-span-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.theme-selector-dark-mode {
    background-color: var(--dark-mode-theme);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    margin: 0px;
}


@media (max-width: 800px) {
    .theme-selector-dark-mode {
        flex-direction: column;
    }

    .theme-selector {
        flex-direction: column;
    }

    .theme-mode-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

