<div>
    @if (!isLoading) {
        <div class="central-settings-area">
            <div
                class="card main-card p-3"
                [ngClass]="{
                    'settings-dark-mode': darkModeService.isDarkMode
                }"
            >
                <div
                    class="card-body"
                    [ngClass]="{
                        'card-body-dark-mode': darkModeService.isDarkMode
                    }"
                >
                    <h3 class="card-title">Cilësimet</h3>

                    <div class="dark-mode-setting-section">
                        <h5>Pamja e Zgjedhur</h5>
                        <hr />
                        <div class="dark-mode-div dark-mode-label-flex">
                            <div class="theme-mode-info">
                                Ndrysho Pamjen
                                @if (darkModeService.isSystemMode) {
                                    <span class="light-mode-informative-text"
                                        >Përdor Pamjen e Sistemit</span
                                    >
                                } @else if (darkModeService.isDarkMode) {
                                    <span class="dark-mode-informative-text"
                                        >Përdor Pamjen e Errët</span
                                    >
                                } @else if (!darkModeService.isDarkMode) {
                                    <span class="light-mode-informative-text"
                                        >Përdor Pamjen e Çelur</span
                                    >
                                }
                            </div>
                            <div
                                class="theme-selector"
                                [ngClass]="{
                                    'theme-selector-dark-mode':
                                        darkModeService.isDarkMode
                                }"
                            >
                                <span
                                    class="option-set-dark-mode"
                                    [class.active]="
                                        darkModeService.isDarkMode &&
                                        !darkModeService.isSystemMode
                                    "
                                    (click)="darkModeService.setDarkMode(true)"
                                    [ngClass]="{
                                        'option-set-dark-mode-dark-mode':
                                            darkModeService.isDarkMode
                                    }"
                                >
                                    <span class="theme-span-icons">
                                        <i
                                            class="bi bi-moon-fill set-moon-icon"
                                            [ngClass]="{
                                                'set-moon-icon-dark-mode':
                                                    darkModeService.isDarkMode
                                            }"
                                        ></i>
                                    </span>
                                    <p
                                        class="theme-selector-text-moon theme-selector-paragraph"
                                        [ngClass]="{
                                            'theme-selector-text-moon-dark-mode':
                                                darkModeService.isDarkMode
                                        }"
                                    >
                                        Errët
                                    </p>
                                </span>

                                <span
                                    class="option-set-system-mode"
                                    [class.active]="
                                        darkModeService.isSystemMode
                                    "
                                    (click)="darkModeService.setSystemMode()"
                                    [ngClass]="{
                                        'option-set-system-mode-dark-mode':
                                            darkModeService.isSystemMode &&
                                            darkModeService.isDarkMode,
                                        'option-set-system-mode-light-mode':
                                            darkModeService.isSystemMode &&
                                            !darkModeService.isDarkMode
                                    }"
                                >
                                    <span class="theme-span-icons">
                                        <i
                                            class="bi bi-circle-half set-system-icon"
                                            [ngClass]="{
                                                'set-system-icon-dark-mode':
                                                    darkModeService.isDarkMode
                                            }"
                                        ></i>
                                    </span>
                                    <p
                                        class="theme-selector-text-system theme-selector-paragraph"
                                        [ngClass]="{
                                            'theme-selector-text-system-dark-mode':
                                                darkModeService.isDarkMode
                                        }"
                                    >
                                        Sistemi
                                    </p>
                                </span>

                                <span
                                    class="option-set-light-mode-span"
                                    [ngClass]="{
                                        'option-set-light-dark-mode':
                                            darkModeService.isDarkMode
                                    }"
                                    [class.active]="
                                        !darkModeService.isDarkMode &&
                                        !darkModeService.isSystemMode
                                    "
                                    (click)="darkModeService.setDarkMode(false)"
                                >
                                    <span class="theme-span-icons">
                                        <i
                                            class="bi bi-brightness-high-fill "
                                            [ngClass]="{
                                                'set-sun-icon-dark-mode':
                                                    darkModeService.isDarkMode
                                            }"
                                        ></i>
                                    </span>
                                    <p
                                        class="theme-selector-text-sun theme-selector-paragraph"
                                        [ngClass]="{
                                            'theme-selector-text-sun-dark-mode':
                                                darkModeService.isDarkMode
                                        }"
                                    >
                                        Çelur
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!--                    <div class="immediate-markings-setting-section">-->
                    <!--                        <h5>Shenjime të Menjëhershme</h5>-->
                    <!--                        <hr />-->
                    <!--                        <div class="dark-mode-div dark-mode-label-flex">-->
                    <!--                            <div>-->
                    <!--                                Përdor Shenjimet e Menjëhershme, të cilat-->
                    <!--                                vetë-aplikojnë shenjime në rastet kur këto kanë-->
                    <!--                                vetëm një sugjerim. Për momentin kjo vlen vetëm-->
                    <!--                                për disa gabime shkrimi.-->
                    <!--                            </div>-->

                    <!--                            <span>-->
                    <!--                                <label-->
                    <!--                                    class="marking-type-label"-->
                    <!--                                    for="immediate-markings"-->
                    <!--                                >-->
                    <!--                                    <input-->
                    <!--                                        class="marking-type-input"-->
                    <!--                                        role="switch"-->
                    <!--                                        type="checkbox"-->
                    <!--                                        id="immediate-markings"-->
                    <!--                                        [(ngModel)]="immediateMarkings"-->
                    <!--                                        (ngModelChange)="-->
                    <!--                                            onImmediateMarkingsSwitch($event)-->
                    <!--                                        "-->
                    <!--                                        data-test="immediate-markings-switch"-->
                    <!--                                    /><span class="slider round"></span> </label-->
                    <!--                            ></span>-->
                    <!--                        </div>-->

                    <!--                        <br />-->

                    <!--                        <div class="dark-mode-div dark-mode-label-flex">-->
                    <!--                            <div>-->
                    <!--                                Shfaq shenjimet e menjehershme te aplikuara te-->
                    <!--                                tabela e shenjimeve.-->
                    <!--                            </div>-->

                    <!--                            <span>-->
                    <!--                                <label-->
                    <!--                                    class="marking-type-label"-->
                    <!--                                    for="immediate-board-markings"-->
                    <!--                                >-->
                    <!--                                    <input-->
                    <!--                                        class="marking-type-input"-->
                    <!--                                        role="switch"-->
                    <!--                                        type="checkbox"-->
                    <!--                                        id="immediate-board-markings"-->
                    <!--                                        [(ngModel)]="immediateBoardMarkings"-->
                    <!--                                        (ngModelChange)="-->
                    <!--                                            onImmediateBoardMarkingsSwitch(-->
                    <!--                                                $event-->
                    <!--                                            )-->
                    <!--                                        "-->
                    <!--                                        [disabled]="!immediateMarkings"-->
                    <!--                                        data-test="immediate-board-markings-switch"-->
                    <!--                                    /><span class="slider round"></span> </label-->
                    <!--                            ></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <div class="dismissed-markings-setting-section">
                        <h5>Shenjimet e Hequra</h5>
                        <hr />
                        <div class="dark-mode-div dark-mode-label-flex">
                            <div>Rishiko shenjimet që keni hequr më parë.</div>
                            <button
                                class="btn btn-secondary"
                                id="dismissed-markings-modal-button"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#dismissed-markings-modal"
                            >
                                Rishiko Shenjimet
                            </button>
                        </div>
                    </div>

                    <div>
                        <h5>Llojet e Shenjimeve</h5>
                        <hr />
                        <p class="card-text">
                            Shto ose hiq lloje shenjimesh për të cilat dëshironi
                            të shikoni shenjime në shkrimet tuaja.
                        </p>
                        <!--                <hr />-->

                        @for (markingType of markingTypes; track markingType) {
                            <div class="marking-type-flex">
                                <span>
                                    <span>{{
                                        markingType[1].description
                                    }}</span>
                                    <span
                                        routerLink="/{{ markingType[0] }}"
                                        class="marking-type-routing-span"
                                        ><i class="bi bi-box-arrow-up-right"></i
                                    ></span>
                                </span>
                                <span>
                                    <label
                                        class="marking-type-label"
                                        [for]="markingType[0]"
                                    >
                                        <input
                                            class="marking-type-input"
                                            role="switch"
                                            type="checkbox"
                                            [id]="markingType[0]"
                                            [(ngModel)]="markingType[1].enabled"
                                            (ngModelChange)="
                                                onMarkingTypeSelection(
                                                    markingType[0],
                                                    $event
                                                )
                                            "
                                            data-test="marking-type-switch"
                                        /><span
                                            class="slider round"
                                        ></span> </label
                                ></span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <app-settings-skeleton></app-settings-skeleton>
    }
</div>

<div
    class="modal fade"
    id="dismissed-markings-modal"
    tabindex="-1"
    aria-labelledby="dismissed-markings-modal-label"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div
            class="modal-content"
            [ngClass]="{
                'modal-content-settings-dark-mode': darkModeService.isDarkMode
            }"
        >
            <div class="modal-header">
                <h5 class="modal-title" id="dismissed-markings-modal-label">
                    Shenjimet e Larguara
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    [ngClass]="{
                        'btn-close-white': darkModeService.isDarkMode
                    }"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body dismissed-marking-list-modal">
                @if (dismissedMarkings.length !== 0) {
                    <div>
                        @for (
                            dismissedMarking of dismissedMarkings;
                            track dismissedMarking
                        ) {
                            <button
                                type="button"
                                class="btn position-relative list-of-dismissed-markings"
                            >
                                {{ dismissedMarking
                                }}<span
                                    (click)="
                                        undoMarkingDismissal(dismissedMarking)
                                    "
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill undo-dismissed-marking"
                                >
                                    <button
                                        type="button"
                                        class="btn-close btn-close-white remove-marking-button"
                                        aria-label="Largo Shenjimin"
                                    ></button>
                                </span>
                            </button>
                        }
                    </div>
                }

                @if (dismissedMarkings.length === 0) {
                    <div>
                        <p>Nuk keni larguar ndonjë shenjim deri më tani.</p>
                        <p>
                            Mund të klikoni te ikona kryq te një shenjim në
                            mënyrë që të mos shfaqet më. Më tej ajo mund të
                            rikthehet nëpërmjet këtij dialogu.
                        </p>
                    </div>
                }
            </div>
            <div class="modal-footer dismissed-marking-modal-footer">
                <button
                    type="button"
                    class="modal-footer-button"
                    data-bs-dismiss="modal"
                    [ngClass]="{
                        'modal-footer-button-dark-mode':
                            darkModeService.isDarkMode
                    }"
                >
                    Mbyll
                </button>
                <button
                    type="button"
                    class="btn btn-primary undo-all-dismissed-markings"
                    data-bs-toggle="modal"
                    data-bs-target="#dismissed-markings-modal"
                    aria-controls="dismissed-markings-modal"
                    (click)="undoMarkingsDismissal()"
                    [disabled]="dismissedMarkings.length === 0"
                >
                    Zhbëj të Gjitha
                </button>
            </div>
        </div>
    </div>
</div>
