<div class="main-settings-div">
    <div class="card p-3" style="width: 60%"
         [ngClass]="{
                    'settings-dark-mode': darkModeService.isDarkMode
                }">
        <div class="card-body"
             [ngClass]="{
                    'card-body-dark-mode': darkModeService.isDarkMode
                }">
            <span
                routerLink="/"
                class="settings-home-button"
                data-test="settings-home-button">
                <i class="bi bi-arrow-left"></i>
            </span>
            <h5 class="card-title">Cilësimet</h5>
            <p class="card-text">
                Shto ose hiq lloje shenjimesh për të cilat dëshironi të shikoni
                shenjime në shkrimet tuaja.
            </p>
            <hr />

            <div *ngFor="let markingType of markingTypes">
                <label
                    class="marking-type-label"
                    style="margin-bottom: 1.5rem; margin-right: 0.5rem"
                    [for]="markingType[0]"
                >
                    <input
                        class="marking-type-input"
                        role="switch"
                        type="checkbox"
                        [id]="markingType[0]"
                        [value]="markingType[1].description"
                        [(ngModel)]="markingType[1].enabled"
                        (ngModelChange)="
                            onMarkingTypeSelection(markingType[0], $event)
                        "
                        data-test="switch-check-testing"
                    /><span class="slider round cursor-pointer"></span>
                </label>
                <span>{{ markingType[1].description }}</span>
                <span
                    routerLink="/{{ markingType[0] }}"
                    class="cursor-pointer"
                    style="color: gray; margin-left: 0.5rem"
                    ><i class="bi bi-box-arrow-up-right"></i
                ></span>
            </div>
        </div>
    </div>
</div>
