.marking-type-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}

.marking-type-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.settings-dark-mode {
    background-color: var(--dark-mode-theme) !important;
    color: var(--dark-mode-anti-theme);
}

.card {
    background-color: #f8f9fa;
    position: relative;
    display: flex;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(216, 216, 216, 0.6);
    width: 60%;
}

.card-body-dark-mode {
    background-color: var(--dark-mode-theme);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: var(--dark-mode-anti-theme);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.marking-type-input:checked + .slider {
    background-color: var(--checked-blue-color-theme);
}

.marking-type-input:focus + .slider {
    box-shadow: 0 0 1px var(--checked-blue-color-theme);
}

.marking-type-input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    display: inline-block;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-switch {
    position: relative;
    width: 3.1rem;
}

.dark-mode-label {
    position: absolute;
    width: 3.2rem;
    height: 1.6rem;
    background-color: var(--dark);
    border-radius: 50px;
    border: 1px solid var(--dark-mode-smooth-theme);
}

.dark-mode-input {
    position: absolute;
    display: none;
}

.dark-mode-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.4s;
    background-color: var(--light);
}

.dark-mode-input:checked ~ .dark-mode-slider {
    background-color: var(--dark-mode-gray-color-checked-theme);
}

.dark-mode-slider::before {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 1.2rem;
    height: 1.3rem;
    border-radius: 50%;
    box-shadow: inset 7px -4px 0 0 var(--dark);
    background-color: var(--dark);
    transition: 0.4s;
}

.dark-mode-input:checked ~ .dark-mode-slider::before {
    transform: translateX(1.5rem);
    background-color: var(--dark-mode-gray-color-checked-theme);
    box-shadow: inset -7px -3px 0 0 var(--dark-mode-anti-theme);
}

.container-div-settings {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.arrow-up-right-cursor {
    color: var(--dark-mode-smooth-theme);
    margin-left: 0.5rem;
}

.display-flex-dark-mode {
    justify-content: space-between;
}

.display-flex {
    justify-content: space-between;
}
