.marking-type-label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
}

.marking-type-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode-setting-section {
    margin: 3rem 0;
}

.settings-dark-mode {
    background-color: var(--dark-mode-theme) !important;
    color: var(--dark-mode-anti-theme);
}

.card-body-dark-mode {
    background-color: var(--dark-mode-theme);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d9d9e3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 1px;
    background-color: var(--dark-mode-anti-theme);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.marking-type-input:checked + .slider {
    background-color: var(--checked-green-color-theme);
}

.marking-type-input:focus + .slider {
    box-shadow: 0 0 1px var(--checked-blue-color-theme);
}

.marking-type-input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
    display: inline-block;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-switch {
    position: relative;
    width: 3.1rem;
}

.dark-mode-label {
    position: absolute;
    width: 42px;
    height: 25px;
    background-color: var(--dark);
    border-radius: 50px;
    border: 1px solid var(--dark-mode-smooth-theme);
}

.dark-mode-input {
    position: absolute;
    display: none;
}

.dark-mode-slider {
    position: absolute;
    width: 40px;
    height: 23px;
    border-radius: 50px;
    transition: 0.4s;
    background-color: var(--light);
}

.dark-mode-input:checked ~ .dark-mode-slider {
    background-color: var(--dark-mode-gray-color-checked-theme);
}

.dark-mode-slider::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0.1rem;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    box-shadow: inset 7px -4px 0 0 var(--dark);
    background-color: var(--dark);
    transition: 0.4s;
}

.dark-mode-input:checked ~ .dark-mode-slider::before {
    transform: translateX(0.9rem);
    background-color: var(--dark-mode-gray-color-checked-theme);
    box-shadow: inset -7px -3px 0 0 var(--dark-mode-anti-theme);
}

.container-div-settings {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.arrow-up-right-cursor {
    color: var(--dark-mode-smooth-theme);
    margin-left: 0.5rem;
}

.marking-type-routing-span {
    margin-left: 0.5rem;
    color: gray;
}

.dark-mode-label-flex {
    display: flex;
    justify-content: space-between;
}

.marking-type-flex {
    display: flex;
    justify-content: space-between;
}
.central-settings-area {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.skeleton-header {
    margin-bottom: 3rem;
}

.skeleton-text-area {
    color: #d9d9d9;
    border-radius: 0.25rem;
}

.dark-mode-informative-text {
    padding-top: 0.3rem;
    font-size: 0.8rem;
    color: var(--dark-mode-smooth-theme);
}

.light-mode-informative-text {
    padding-top: 0.3rem;
    font-size: 0.8rem;
    color: var(--dark-mode-smooth-theme);
}

.main-card {
    background-color: #f8f9fa;
    position: relative;
    display: flex;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(216, 216, 216, 0.6);
    width: 60%;
    margin-bottom: 2rem;
}

.skeleton-main-card {
    background-color: #f8f9fa;
    position: relative;
    display: flex;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(216, 216, 216, 0.6);
    width: 60%;
    margin-bottom: 2rem;
}
